body {
    font-family: 'Montserrat', sans-serif;
    background-color: #F4EDE0; /* Fondo c치lido */
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 1200px;
    margin: 50px auto;
    background-color: #FFF8F0; /* Fondo suave */
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
  }
  
  h1 {
    color: #5B4536; /* Texto principal */
    text-align: center;
    margin-bottom: 20px;
    font-size: 2.5rem;
  }
  
  h2 {
    color: #5B4536;
    font-size: 1.8rem;
    margin-bottom: 15px;
    border-left: 5px solid #D65C4F;
    padding-left: 10px;
  }
  
  section {
    margin-bottom: 30px;
  }
  
  canvas {
    display: block;
    margin: 0 auto;
    background: #FFF8F0;
    border: 1px solid #E5D4C5;
    border-radius: 12px;
    max-width: 90%;
    height: 500px; /* Ajuste para hacerlo m치s grande */
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    background-color: #FFF8F0;
    margin-top: 20px;
  }
  
  table th, table td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #E5D4C5;
    color: #5B4536;
  }
  
  table th {
    background-color: #D99058; /* Cabecera */
    color: #FFF8F0;
    font-size: 1.1rem;
  }
  
  table tr:hover {
    background-color: #F4E1CF;
  }
  
  button {
    background-color: #8EAA6D; /* Verde chukum */
    color: #FFF8F0;
    padding: 8px 15px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #6E8E51; /* Hover m치s oscuro */
  }
  
  .btn-rojo-chukum {
    background: #D65C4F; /* Rojo chukum */
    color: #FFF8F0;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background 0.3s ease;
    font-weight: bold;
  }
  
  .btn-rojo-chukum:hover {
    background: #B5483E; /* M치s oscuro en hover */
  }
  
  .chart-container {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  