body {
    font-family: 'Montserrat', sans-serif;
    background-color: #F4EDE0; /* Fondo cálido */
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 50px auto;
    padding: 40px;
    background-color: #FFF8F0; /* Fondo suave */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    text-align: center;
}

h1 {
    color: #5B4536; /* Texto principal */
    font-size: 2.5em;
    margin-bottom: 20px;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu ul li {
    margin: 20px 0;
}

.menu ul li a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #D99058; /* Naranja chukum */
    color: #FFF8F0;
    text-decoration: none;
    font-size: 1.2em;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.menu ul li a:hover {
    background-color: #B86D36; /* Hover más oscuro */
}
