.fondo-icon3,
.path-253-icon5 {
  position: absolute;
  right: 0;
  max-width: 100%;
  overflow: hidden;
}
.fondo-icon3 {
  width: calc(100% + 17px);
  top: 68px;
  left: -17px;
  height: 1107px;
  object-fit: cover;
  mix-blend-mode: multiply;
}
.path-253-icon5 {
  width: 100%;
  top: calc(50% - 213.1px);
  left: 0;
  height: 426.2px;
}
.group-child7 {
  position: absolute;
  height: calc(100% - 0.3px);
  top: 0.26px;
  bottom: 0.04px;
  left: calc(50% - 3.05px);
  width: 6.6px;
  background-image: url(./public/rectangle-813@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.facebook-inner3 {
  position: absolute;
  top: calc(50% - 7px);
  left: calc(50% - 7px);
  width: 14px;
  height: 14.5px;
}
.facebook5 {
  position: absolute;
  top: calc(50% + 56.9px);
  left: 244px;
  border-radius: var(--br-21xl);
  background-color: var(--color-dimgray);
  width: 30px;
  height: 30px;
}
.vector-smart-object5 {
  position: absolute;
  top: calc(50% - 7px);
  left: calc(50% - 7.5px);
  width: 15px;
  height: 14px;
  object-fit: cover;
}
.instagram5 {
  position: absolute;
  top: calc(50% + 56.9px);
  left: 283px;
  border-radius: var(--br-21xl);
  background-color: var(--color-dimgray);
  width: 31px;
  height: 30px;
}
.rectangle-81311-copy-45 {
  position: absolute;
  top: calc(50% - 7.2px);
  left: calc(50% - 6.77px);
  width: 14.2px;
  height: 13.7px;
  background-image: url(./public/rectangle-81311-copy-4@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.rectangle-81311-copy-4-wrapper3 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-21xl);
  background-color: var(--color-dimgray);
}
.imagemask5 {
  position: absolute;
  top: calc(50% - 7px);
  left: calc(50% - 7px);
  width: 14px;
  height: 14px;
}
.linkedin5 {
  position: absolute;
  top: calc(50% + 56.9px);
  left: 323px;
  width: 30px;
  height: 30px;
}
.rectangle-813111-copy-65 {
  position: absolute;
  height: calc(100% - 2.7px);
  width: calc(100% - 0.3px);
  top: 1.21px;
  right: 0.05px;
  bottom: 1.49px;
  left: 0.25px;
  background-image: url(./public/rectangle-813111-copy-6@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.rectangle-813111-copy-6-wrapper3,
.twitter5 {
  position: absolute;
  top: calc(50% - 7px);
  left: calc(50% - 7.5px);
  width: 15.4px;
  height: 15px;
}
.twitter5 {
  top: calc(50% + 56.9px);
  left: calc(50% - 601.7px);
  border-radius: var(--br-21xl);
  background-color: var(--color-dimgray);
  width: 31px;
  height: 30px;
}
.company5 {
  position: absolute;
  top: calc(50% - 109.47px);
  left: calc(50% + 10.31px);
  font-size: var(--font-size-sm);
  font-weight: 600;
  font-family: var(--font-josefin-sans);
  color: var(--color-turquoise);
}
.profile5 {
  margin: 0;
}
.profile-about-us-contact-addre5 {
  position: absolute;
  top: calc(50% - 34.1px);
  left: calc(50% + 10.81px);
  line-height: 36px;
  display: inline-block;
  width: 211px;
  height: 132.6px;
}
.returns5 {
  position: absolute;
  top: calc(50% - 109.47px);
  left: calc(50% + 335.37px);
  font-size: var(--font-size-sm);
  font-weight: 600;
  font-family: var(--font-josefin-sans);
  color: var(--color-turquoise);
}
.faqs-size-guide-contact-us-container5 {
  position: absolute;
  top: calc(50% - 34.1px);
  left: calc(50% + 336.07px);
  line-height: 36px;
  display: inline-block;
  width: 211px;
  height: 171.3px;
}
.lorem-ipsum-dolor-container5 {
  position: absolute;
  top: calc(50% - 58.62px);
  left: 240px;
  line-height: 20px;
}
.caribbean-house-studio10 {
  position: absolute;
  top: calc(50% - 129.35px);
  left: 240px;
  font-size: var(--font-size-5xl);
  text-transform: uppercase;
  font-family: var(--font-literata);
}
.barrabutom3 {
  position: absolute;
  width: calc(100% + 12px);
  right: -6px;
  bottom: -3.2px;
  left: -6px;
  height: 426.2px;
}
.component-1-13-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.13);
  background-color: var(--color-whitesmoke);
}
.caribbean-house-studio11 {
  position: absolute;
  width: calc(100% + 1px);
  top: calc(50% - 18.5px);
  left: 0;
  font-weight: 600;
  display: inline-block;
}
.logo5 {
  position: absolute;
  top: calc(50% - 16px);
  left: 150px;
  width: 472px;
  height: 37px;
  cursor: pointer;
}
.component-1-13 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: left;
  font-size: var(--font-size-18xl);
  color: var(--color-darkslategray-200);
}
.catlogo5,
.inicio5 {
  position: absolute;
  top: calc(50% - 5px);
  left: calc(50% - 201.05px);
}
.catlogo5 {
  top: calc(50% - 8px);
  left: calc(50% + 102.95px);
}
.blog5,
.nuestra-historia6,
.seguimiento7 {
  position: absolute;
  top: calc(50% - 5px);
  left: calc(50% + 239.95px);
}
.nuestra-historia6,
.seguimiento7 {
  left: calc(50% - 101.05px);
}
.seguimiento7 {
  left: calc(50% + 335.95px);
}
.cart-icon5,
.serach-icon5 {
  position: absolute;
  top: calc(50% - 10px);
  left: calc(50% + 474.95px);
  width: 23px;
  height: 23px;
}
.cart-icon5 {
  left: calc(50% + 515.95px);
  width: 24px;
}
.login5 {
  position: absolute;
  top: calc(50% - 7.5px);
  left: calc(50% - 23px);
  text-transform: uppercase;
  font-weight: 600;
}
.login-wrapper3 {
  position: absolute;
  top: calc(50% - 18px);
  right: 246.1px;
  background-color: var(--color-darkslategray-100);
  width: 130px;
  height: 35px;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-white);
}
.path-74-icon5 {
  position: absolute;
  top: calc(50% - 13.82px);
  left: calc(50% + 530.69px);
  width: 11.6px;
  height: 11.6px;
}
.div26 {
  position: absolute;
  top: calc(50% - 13px);
  left: calc(50% + 534.95px);
  font-size: var(--font-size-3xs);
  color: var(--color-white);
}
.logo-icon5 {
  position: absolute;
  height: calc(100% - 21.3px);
  top: 11.15px;
  bottom: 10.15px;
  left: 13px;
  max-height: 100%;
  width: 113.1px;
}
.barra-pestaas5 {
  position: fixed;
  width: calc(100% + 2.1px);
  top: -0.5px;
  right: -2.1px;
  left: 0;
  height: 87px;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-darkslategray-100);
  font-family: var(--font-josefin-sans);
}
.canvas {
  position: relative;
  background-color: var(--color-antiquewhite);
  width: 100%;
  height: 1503px;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-white);
  font-family: var(--font-montserrat);
}
