.mediaViewInfo {
	--web-view-name: Sec 1;
	--web-view-id: Sec_1;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Sec_1;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Sec_1 {
	position: absolute;
	width: 1920px;
	height: 1080px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: Sec 1;
	--web-view-id: Sec_1;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#aaa {
	position: absolute;
	width: 1864px;
	height: 100px;
	left: 56px;
	top: 0px;
	overflow: visible;
}
#aab {
	border: 1px solid rgba(20,18,18,1);
	left: 0px;
	top: 27px;
	position: absolute;
	overflow: visible;
	width: 343px;
	white-space: nowrap;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 63px;
	color: rgba(46,46,46,1);
}
#aac {
	fill: rgba(216,79,169,1);
}
.aac {
	position: absolute;
	overflow: visible;
	width: 267px;
	height: 36px;
	left: 1597px;
	top: 0px;
}
#aad {
	fill: rgba(217,109,109,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.aad {
	position: absolute;
	overflow: visible;
	width: 927px;
	height: 249px;
	left: 555px;
	top: 459px;
	transition: all 0.30000001192092896s snap;
	--web-animation: fadein 0.30000001192092896s snap;
	--web-action-type: page;
	--web-action-target: Secc_2.html;
	cursor: pointer;
}