
.barra-pestaas5 {
    position: fixed;
    z-index: 3;
    
    width: calc(100% + 2.1px);
    top: -0.5px;
    right: -2.1px;
    left: 0;
    height: 87px;
    text-align: center;
    font-size: var(--font-size-base);
    color: var(--color-darkslategray-100);
    font-family: var(--font-josefin-sans);
  }

.component-1-13-child {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.13);
    background-color: #edebeb;
  }

.component-1-13 {
    position: absolute;
    height: 105px;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: left;
    font-size: var(--font-size-18xl);
    color: var(--color-darkslategray-200);
  }

.component-1-13-child{
    display: flex;
  }

.component-1-13-child{
    position: absolute;
    height: 85%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.13);
    background-color: #edebeb;
  }
.menu-button {
    display: none;
    position: absolute;
    top: calc(20% - 5px);
    left: calc(90% - 50px);
    cursor: pointer;
    width: 65px;  /* Ajusta el ancho del botón */
    height: 60px; /* Ajusta la altura del botón */
  }
  
.menu-button svg {
    width: 100%;  /* El SVG tomará el 100% del contenedor */
    height: 100%; /* El SVG tomará el 100% del contenedor */
  }

.logo5 {
    position: absolute;
    top: calc(50% - 16px);
    left: 150px;
    width: 472px;
    height: 37px;
    cursor: pointer;
  }


.catlogo5,
.inicio5 {
    position: absolute;
    top: calc(50% - 5px);
    left: calc(50% - 201.05px);
    cursor: pointer;
  }
.catlogo5 {
    top: calc(50% - 5px);
    left: calc(50% + 102.95px);
    font-weight: bold;
    color: var(--color-lightseagreen);
    
  }


.caribbean-house-studio11 {
    position: absolute;
    width: calc(100% + 1px);
    top: -10px;
    left: 0;
    font-weight: 600;
    font-size: calc(100%) ;
    display: inline-block;
  }
  
.logo-icon5 {
    position: absolute;
    height: calc(100% - 21.3px);
    top: 0px;
    bottom: 10.15px;
    left: 13px;
    max-height: 100%;
    width: 113.1px;
  }
  
.menu-items {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  

.blog5,
.nuestra-historia6,
.seguimiento7 {
    position: absolute;
    top: calc(50% - 5px);
    left: calc(50% + 239.95px);
    cursor: pointer;
  }
.nuestra-historia6,
.seguimiento7 {
    left: calc(50% - 101.05px);
    cursor: pointer;
  }
.seguimiento7 {
    left: calc(50% + 335.95px);
  }
.cart-icon5,
.serach-icon5 {
    position: absolute;
    top: calc(50% - 10px);
    left: calc(50% + 474.95px);
    width: 23px;
    height: 23px;
  }
.cart-icon5 {
    left: calc(50% + 515.95px);
    width: 24px;
  }
.login5 {
    position: absolute;
    top: calc(50% - 7.5px);
    left: calc(50% - 23px);
    text-transform: uppercase;
    font-weight: 600;
  }
.login-wrapper3 {
    position: absolute;
    top: calc(50% - 18px);
    right: 50px; /* Ajustamos la distancia mínima al borde derecho */
    background-color: var(--color-darkslategray-100);
    width: 130px;
    height: 35px;
    text-align: left;
    font-size: var(--font-size-sm);
    color: var(--color-white);
  }
.path-74-icon5 {
    position: absolute;
    top: calc(50% - 13.82px);
    left: calc(50% + 530.69px);
    width: 11.6px;
    height: 11.6px;
  }
.div26 {
    position: absolute;
    top: calc(50% - 13px);
    left: calc(50% + 534.95px);
    font-size: var(--font-size-3xs);
    color: var(--color-white);
  }
.menu-container {
    display: none; /* Oculto inicialmente */
  }
  




  /* Estilo de la barra lateral */
  .sidebar-burger {
    position: fixed;
    top: 0; 
    right: 0;
    height: 100vh;
    width: calc(30% + 1px);
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(12px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px; /* Añade espacio entre cada ítem */
    padding: 20px; /* Añade un espacio interno */
  }
  
  .sidebar-burger li {
    width: 100%; /* Cada ítem ocupa todo el ancho disponible */
  }
  
  .sidebar-burger a {
    display: block;
    width: 100%;
    padding: 15px 20px;
    text-decoration: none;
    color: #333; /* Color del texto */
    background-color: #fff; /* Color de fondo del ítem */
    border-radius: 5px;
    text-align: left;
  }
  
  .sidebar-burger a:hover {
    background-color: #555; /* Color al pasar el ratón por encima */
  }
  
  .sidebar-burger svg {
    width: 26px;
    height: 26px;
    fill: #333;
  }




  /* Estilos responsivos */
  @media(max-width: 1540px) {
    .menu-button {
      display: block;
    }
    .menu-items {
      display: none;
    }
  
    .menu-items.active {
      display: flex;
    }
    .menu-container.active {
      display: flex; /* Mostrar cuando esté activo */
    }
    .component-1-13-child{
      display: flex;
    }
  
  
  }
  
  @media(max-width: 440px) {
    
    .logo5 {
      position: absolute;
      top: calc(50% - 16px);
      left: 150px;
      width: 120px;
      height: 37px;
      cursor: pointer;
    }
  
    .logo-icon5 {
      position: absolute;
      height: calc(100% - 21.3px);
      top: 6.15px;
      bottom: 10.15px;
      left: 13px;
      max-height: 100%;
      width: calc(12%);
    }
  
    .caribbean-house-studio11 {
      position: absolute;
      width: calc(100% + 100px);
      top: calc(50% - 12.5px);
      left: -50px;
      font-weight: 600;
      display: inline-block;
      font-size: calc(50%)
    }
  
    .component-1-13-child{
      position: absolute;
      height: 85%;
      width: 100%;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.13);
      background-color: #edebeb;
    }
  
    .menu-items {
      gap: 10px;
    }
    .menu-button {
      position: absolute;
      top: calc(32% - 5px);
      left: calc(52%);
      cursor: pointer;
      width: 45px;  /* Ajusta el ancho del botón */
      height: 40px; /* Ajusta la altura del botón */
    }
  
    
  }
  