<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1, width=device-width" />

  <link rel="stylesheet" href="./global.css" />
  <link rel="stylesheet" href="./compras.css" />

  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600;700&display=swap"
  />
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600&display=swap"
  />
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Literata:wght@400&display=swap"
  />

  <title>Compras</title>
</head>
<body>
  <div id="barra"></div>







  
  <div id="footer" class="footer"></div>


  
  <script>
    // barra y footer
    
    window.onload = function () {
      let claseAResaltar = ""; 
  
      // Cargar barra.html dinámicamente
      fetch("/Templates/barra.html")
        .then((response) => response.text())
        .then((data) => {
          document.getElementById("barra").innerHTML = data;
  
          // Aplicar el estilo para el elemento resaltado
          let elementoAResaltar = document.querySelector(`.${claseAResaltar}`);
          if (elementoAResaltar) {
            elementoAResaltar.style.fontWeight = 'bold';
            elementoAResaltar.style.color = 'var(--color-lightseagreen)';
          }
  
          const loginWrapper = document.querySelector('#login-wrapper3'); 
          const loginText = document.querySelector('.login5'); 
          const bienvenidoText = document.querySelector('#bienvenido-text'); 
  
          if (loginWrapper) {
            loginWrapper.onclick = function() {
              window.location.href = '/login';
            };
          }
  
          fetch('/api/session')
            .then(response => response.json())
            .then(data => {
              if (data.isAuthenticated) {
                loginWrapper.setAttribute('style', 'background-color: #C19A6B; top: calc(50% - 18px);');
                loginText.textContent = 'Cerrar sesión';
                loginWrapper.onclick = function() {
                  window.location.href = '/logout';
                };
                bienvenidoText.textContent = ` ${data.correo}`;
              } else {
                bienvenidoText.style.display = 'none';
              }
            })
            .catch(error => console.error('Error al cargar la sesión:', error));
        })
        .catch(error => console.error('Error al cargar la barra:', error));
  
      fetch("/Templates/footer.html")
        .then((response) => response.text())
        .then((data) => {
          document.getElementById("footer").innerHTML = data;
        })
        .catch(error => console.error('Error al cargar el footer:', error));
    };

  

  </script>
</body>
</html>
