<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/Templates/footer.css" />
  </head>
  <body>
   <!-- footer.html -->
<footer>
    <div class="footer-content">
      <!-- Sección del título "Caribbean House Studio" -->
      <div class="footer-section brand">
        <h1>CARIBBEAN HOUSE STUDIO</h1>
      </div>
  
      <!-- Sección de enlaces -->
      <div class="footer-section links">
        <div>
          <h4>COMPANY</h4>
          <p>Profile</p>
          <p>About us</p>
          <p>Contact</p>
          <p>Address</p>
        </div>
  
        <div>
          <h4>RETURNS</h4>
          <p>FAQs</p>
          <p>Size Guide</p>
          <p>Contact us</p>
        </div>
      </div>
    </div>
  </footer>
  
  </body>
</html>
