
    <!-- footer.html -->
    <footer>
      <div class="footer-content">
        <!-- Sección del título "Caribbean House Studio" -->
        <div class="footer-section brand">
          <h1>CARIBBEAN HOUSE STUDIO</h1>
        </div>

        <!-- Sección de enlaces -->
        <div class="footer-section links">
          <div>
            <p><a href="/perfil">Perfil</a></p>
            <p><a href="/about-us.html">Nuestra Historia</a></p>
        
            <p><a href="https://maps.app.goo.gl/P2YVCqkbLYrZKqNc6" target="_blank">Ubicación</a></p>
          </div>
        </div>

        <!-- Información de contacto -->
        <div class="footer-section contact-info">
          <p><strong>Información de contacto</strong></p>
          <p>Email: <a href="mailto:contacto@caribbeanhousestudio.com">contacto@caribbeanhousestudio.com</a></p>
          <p>Teléfono: <a href="tel:+9982932622">+998 293 2622</a></p>
      
        </div>
      </div>
    </footer>
