/* General body styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #F4EDE0; /* Fondo cálido estilo Chukum */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    margin-top: 320px;
    
}

/* Container */
.container {
    max-width: 400px;
    width: 100%;
    background-color: #FFF8F0;
    padding: 40px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    text-align: center;
    transition: max-width 0.3s ease; /* Transición suave para el cambio de ancho */
    margin: 0 auto;   /* Centrar el contenido */
    position: relative;
    top: 120px;
   
    
}

/* Title styles */
h1 {
    color: #5B4536;
    font-size: 1.8em;
    margin-bottom: 20px;
}

/* Form group styles */
.form-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    color: #5B4536; /* Texto principal */
    font-weight: bold;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #D99058; /* Naranja Chukum */
    border-radius: 5px;
    box-sizing: border-box;
    color: #5B4536;
    background-color: #FFF8F0;
}

input::placeholder {
    color: #E5D4C5; /* Placeholder suave */
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    margin-top: 15px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

/* Primary button */
.btn-primary {
    background-color: #8EAA6D; /* Verde Chukum */
    color: #FFF8F0;
}

.btn-primary:hover {
    background-color: #6E8E51; /* Verde oscuro hover */
}

/* Secondary button */
.btn-secondary {
    background-color: #D99058; /* Naranja Chukum */
    color: #FFF8F0;
    margin-top: 10px;
}

.btn-secondary:hover {
    background-color: #B86D36; /* Hover oscuro */
}


.imagenes-container {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Espacio entre los campos de imagen */
  }
  
  .imagen-group {
    display: flex;
    flex-direction: column;
  }
  
  .imagen-group label {
    font-size: 12px;
    margin-bottom: 5px;
  }
  
  .imagen-group input {
    width: 100%; /* Asegura que el campo de entrada ocupe todo el ancho del contenedor */
  }
