/* General body styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #F4EDE0; /* Fondo cálido estilo Chukum */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    
}

/* Container */
.container {
    max-width: 500px; /* Más ancho para los anexos */
    width: 100%;
    background-color: #FFF8F0;
    padding: 40px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    text-align: center;
}

/* Title styles */
h1 {
    color: #5B4536;
    font-size: 2em;
    margin-bottom: 20px;
}

/* Form group styles */
.form-group {
    margin-bottom: 20px; /* Más espacio entre grupos */
    text-align: left;
}

label {
    color: #5B4536; /* Texto principal */
    font-weight: bold;
    font-size: 1.1em;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #D99058; /* Naranja Chukum */
    border-radius: 5px;
    box-sizing: border-box;
    color: #5B4536;
    background-color: #FFF8F0;
}

input::placeholder {
    color: #E5D4C5; /* Placeholder suave */
}

/* Styles for file inputs */
input[type="file"] {
    padding: 5px;
    font-size: 0.9em;
    border: none;
    border-bottom: 1px solid #D99058; /* Naranja Chukum */
    background-color: #FFF8F0;
    color: #5B4536;
}

small {
    display: block;
    color: #B86D36;
    font-size: 0.9em;
    margin-top: 5px;
}

/* Button styles */
button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    margin-top: 15px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

/* Primary button */
.btn-primary {
    background-color: #8EAA6D; /* Verde Chukum */
    color: #FFF8F0;
}

.btn-primary:hover {
    background-color: #6E8E51; /* Verde oscuro hover */
}

/* Secondary button */
.btn-secondary {
    background-color: #D99058; /* Naranja Chukum */
    color: #FFF8F0;
    margin-top: 10px;
}

.btn-secondary:hover {
    background-color: #B86D36; /* Hover oscuro */
}

/* Additional styles for file upload sections */
input[type="file"]:hover {
    border-color: #B86D36; /* Hover border para inputs de archivo */
}

textarea {
    resize: none; /* Deshabilitar redimensionamiento */
}


.btn-rojo-chukum {
    background: #D65C4F; /* Rojo chukum */
    color: #FFF8F0;
    
   
  }
  
  .btn-rojo-chukum:hover {
    background: #B5483E; /* Más oscuro en hover */
  }
  

/* Responsive adjustments */
@media (max-width: 768px) {
    .container {
        padding: 20px;
        max-width: 90%;
    }

    h1 {
        font-size: 1.5em;
    }

    button {
        font-size: 0.9em;
    }
}
