/* Estilo de la barra lateral */
.catalog-container {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  max-width: 1920px;
  margin: 87px auto 0; /* Espacio debajo del header */
  padding: 20px;
  gap: 20px; /* Espacio entre la barra lateral y el área de productos */
  min-height: 1000px;
  min-width: 400px;

}
/* Estilo de la barra lateral */
.sidebar {
  z-index: 2;
  width: 250px;
  background-color: #C19A6B; /* Color estilo chukum */
  padding: 20px;
  border-radius: 8px;
}

.sidebar h3 {
  font-size: 2.5em;
  color: #4A403A; 
  margin-bottom: 15px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin-bottom: 10px;
}

.sidebar ul li a {
  text-decoration: none;
  font-size: 1.5em;
  color: #f0f0f0;
}

.sidebar ul li a:hover {
  color: #a5d1ce; /* Color hover */
  font-weight: 500;
}


/* Estilo para la sección de productos */
.product-grid {
  flex-grow: 1;
  background-color: #ffffff7c;
  border-radius: 8px;
  padding: 20px;
  min-height: 500px; /* Altura mínima */
  z-index: 1;
}

/* Estilo de la CANVAS */

.fondo{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./public/080bef28e2d2463cae04d69b5960f9f82@2x.png'); /* Cambia a la ruta de tu imagen */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  mix-blend-mode: multiply; /* Mantienes el efecto multiply */
  opacity: 50%;
  z-index: 0;
}

.component-1-13-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.13);
  background-color: #edebeb;
}
.caribbean-house-studio11 {
  position: absolute;
  width: calc(100% + 1px);
  top: calc(50% - 18.5px);
  left: 0;
  font-weight: 600;
  font-size: calc(100%) ;
  display: inline-block;
}
.logo5 {
  position: absolute;
  top: calc(50% - 16px);
  left: 150px;
  width: 472px;
  height: 37px;
  cursor: pointer;
}
.component-1-13 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: left;
  font-size: var(--font-size-18xl);
  color: var(--color-darkslategray-200);
}
.catlogo5,
.inicio5 {
  position: absolute;
  top: calc(50% - 5px);
  left: calc(50% - 201.05px);
  cursor: pointer;
}
.catlogo5 {
  top: calc(50% - 5px);
  left: calc(50% + 102.95px);
  font-weight: bold;
  color: var(--color-lightseagreen);
  
}
.blog5,
.nuestra-historia6,
.seguimiento7 {
  position: absolute;
  top: calc(50% - 5px);
  left: calc(50% + 239.95px);
  cursor: pointer;
}
.nuestra-historia6,
.seguimiento7 {
  left: calc(50% - 101.05px);
  cursor: pointer;
}
.seguimiento7 {
  left: calc(50% + 335.95px);
}
.cart-icon5,
.serach-icon5 {
  position: absolute;
  top: calc(50% - 10px);
  left: calc(50% + 474.95px);
  width: 23px;
  height: 23px;
}
.cart-icon5 {
  left: calc(50% + 515.95px);
  width: 24px;
}
.login5 {
  position: absolute;
  top: calc(50% - 7.5px);
  left: calc(50% - 23px);
  text-transform: uppercase;
  font-weight: 600;
}
.login-wrapper3 {
  position: absolute;
  top: calc(50% - 18px);
  right: 50px; /* Ajustamos la distancia mínima al borde derecho */
  background-color: var(--color-darkslategray-100);
  width: 130px;
  height: 35px;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-white);
}
.path-74-icon5 {
  position: absolute;
  top: calc(50% - 13.82px);
  left: calc(50% + 530.69px);
  width: 11.6px;
  height: 11.6px;
}
.div26 {
  position: absolute;
  top: calc(50% - 13px);
  left: calc(50% + 534.95px);
  font-size: var(--font-size-3xs);
  color: var(--color-white);
}
.logo-icon5 {
  position: absolute;
  height: calc(100% - 21.3px);
  top: 11.15px;
  bottom: 10.15px;
  left: 13px;
  max-height: 100%;
  width: 113.1px;
}
.barra-pestaas5 {
  z-index: 3;
  position: fixed;
  width: calc(100% + 2.1px);
  top: -0.5px;
  right: -2.1px;
  left: 0;
  height: 87px;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-darkslategray-100);
  font-family: var(--font-josefin-sans);
}
.canvas {
  position: relative;
  background-color: var(--color-antiquewhite);
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-white);
  font-family: var(--font-montserrat);
}

/* -----------------------------------------------------------------------------/
/* Estilos del cuadro del producto */
/* Estilo del enlace que rodea todo el contenedor del producto */
.product-link {
  text-decoration: none; /* Elimina el subrayado del enlace */
  color: inherit; /* Mantiene el color original del texto */
}

/* Estilo del contenedor de la tarjeta de producto */
.product-card {
  border: 1px solid #C19A6B; /* Borde con color estilo chukum */
  border-radius: 8px;
  padding: calc(15%);
  width: calc(65%);
  height: 380px;
  background-color: #a5d1ce; /* Fondo estilo chukum */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  cursor: pointer; /* Cambia el cursor para indicar que es clicable */
}

/* Estilo para cuando el contenedor se pasa el mouse por encima */
.product-card:hover {
  transform: scale(1.05); /* Pequeña ampliación al hacer hover */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.product-image {
  width: calc(100% - 20px); /* Tamaño ajustado para el margen de 20px en cada lado */
  height: 200px; /* Altura fija para hacer la imagen cuadrada */
  object-fit: cover; /* Asegura que la imagen se recorte para encajar en el cuadro */
  border-radius: 15px;
  border: 3px solid #f0f0f0;
  margin: 0 auto; /* Centra la imagen horizontalmente */
  display: block;
}

.product-details {
  margin-top: 20px;
  text-align: left;
}

.product-title {
  font-size: 2em;
  color: #4A403A; /* Color de texto estilo chukum */
  margin: 0 0 10px;
  font-weight: bold;
}

.product-sku {
  font-size: 1.1em;
  color: #888;
  margin-bottom: 15px;
}

.product-price {
  margin-bottom: 20px;
}

.discounted-price {
  font-size: 1.6em;
  color: #705645; /* Color estilo chukum */
  font-weight: bold;
}


.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(329px, 1fr));
  gap: 20px;
  padding: 20px;
}


.product-details {
  text-align: left;
}

/*paginacion*/

.pagination {
  
  position: relative;
  display: flex;
  justify-content: center;
  margin: 40px 0;
}

.page-button {
  padding: 10px 15px;
  margin: 0 5px;
  background-color: #C19A6B; /* Color estilo chukum */
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

.page-button.active {
  background-color: #4A403A; /* Color más oscuro para la página activa */
}

.page-button:hover {
  background-color: #A17851;
}


/* Estilo de la barra de búsqueda */
.search-bar {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  
}

.search-input {
  padding: 10px;
  border: 1px solid #C19A6B;
  border-radius: 5px 0 0 5px;
  width: 145px;
  font-size: 1em;
}

.search-button {
  padding: 10px 20px;
  background-color: #4a403a; /* Color del botón de búsqueda */
  color: #fff;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease-in-out;
}

.search-button:hover {
  background-color: #363636;
}


/* Cambiar el color de la categoría seleccionada */
.sidebar ul li a.active {
  color: #63ded0;
  font-weight: bold;
}

.menu-items {
  display: flex;
  align-items: center;
  gap: 20px;
}

.menu-button {
  display: none;
  position: absolute;
  top: calc(20% - 5px);
  left: calc(90% - 50px);
  cursor: pointer;
  width: 65px;  /* Ajusta el ancho del botón */
  height: 60px; /* Ajusta la altura del botón */
}

.menu-button svg {
  width: 100%;  /* El SVG tomará el 100% del contenedor */
  height: 100%; /* El SVG tomará el 100% del contenedor */
}

/* Estilo de la barra lateral */
.sidebar-burger {
  position: fixed;
  top: 0; 
  right: 0;
  height: 100vh;
  width: calc(30% + 1px);
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(12px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px; /* Añade espacio entre cada ítem */
  padding: 20px; /* Añade un espacio interno */
}

.sidebar-burger li {
  width: 100%; /* Cada ítem ocupa todo el ancho disponible */
}

.sidebar-burger a {
  display: block;
  width: 100%;
  padding: 15px 20px;
  text-decoration: none;
  color: #333; /* Color del texto */
  background-color: #fff; /* Color de fondo del ítem */
  border-radius: 5px;
  text-align: left;
}

.sidebar-burger a:hover {
  background-color: #555; /* Color al pasar el ratón por encima */
}

.sidebar-burger svg {
  width: 26px;
  height: 26px;
  fill: #333;
}

.menu-container {
  display: none; /* Oculto inicialmente */
}

/* Cuando el menú esté activo */



/* Estilos responsivos */
@media(max-width: 1540px) {
  .menu-button {
    display: block;
  }
  .menu-items {
    display: none;
  }

  .menu-items.active {
    display: flex;
  }
  .menu-container.active {
    display: flex; /* Mostrar cuando esté activo */
  }
  .component-1-13-child{
    display: flex;
  }


}

@media(max-width: 440px) {
  
  .logo5 {
    position: absolute;
    top: calc(50% - 16px);
    left: 150px;
    width: 120px;
    height: 37px;
    cursor: pointer;
  }

  .logo-icon5 {
    position: absolute;
    height: calc(100% - 21.3px);
    top: 6.15px;
    bottom: 10.15px;
    left: 13px;
    max-height: 100%;
    width: calc(12%);
  }

  .caribbean-house-studio11 {
    position: absolute;
    width: calc(100% + 100px);
    top: calc(50% - 12.5px);
    left: -50px;
    font-weight: 600;
    display: inline-block;
    font-size: calc(50%)
  }

  .component-1-13-child{
    position: absolute;
    height: 85%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.13);
    background-color: #edebeb;
  }

  .menu-items {
    gap: 10px;
  }
  .menu-button {
    position: absolute;
    top: calc(32% - 5px);
    left: calc(52%);
    cursor: pointer;
    width: 45px;  /* Ajusta el ancho del botón */
    height: 40px; /* Ajusta la altura del botón */
  }
  
}