body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-josefin-sans: "Josefin Sans";
  --font-montserrat: Montserrat;
  --font-literata: Literata;

  /* font sizes */
  --font-size-3xs: 10px;
  --font-size-sm: 14px;
  --font-size-base: 16px;
  --font-size-18xl: 37px;
  --font-size-lg: 18px;
  --font-size-11xl: 30px;
  --font-size-mid: 17px;
  --font-size-6xl: 25px;
  --font-size-30xl: 49px;
  --font-size-5xl: 24px;
  --font-size-xs: 12px;
  --font-size-7xl: 26px;
  --font-size-xl: 20px;
  --font-size-19xl: 38px;
  --font-size-3xl: 22px;
  --font-size-31xl: 50px;

  /* Colors */
  --color-antiquewhite: #d9cfb8;
  --color-white: #fff;
  --color-darkslategray-200: #454545;
  --color-darkslategray-100: #414141;
  --color-lightseagreen: #38afa7;
  --color-whitesmoke: #edebeb;
  --color-dimgray: #707070;
  --color-dimgray-100: rgba(112, 112, 112, 0.45);
  --color-peachpuff: #f5c8a0;
  --color-steelblue-100: #557e9f;
  --color-thistle: #c1b9d4;
  --color-turquoise: #63ded0;
  --color-powderblue: #a5d1ce;
  --color-darkgray: #b2b2b2;
  --color-darkgray-100: #a2a2a2;
  --color-seashell: #faf4ef;
  --color-burlywood: #d8a379;

  /* Border radiuses */
  --br-xs: 12px;
  --br-21xl: 40px;
  --br-19xl: 38px;
  --br-12xl: 31px;
  --br-13xl: 32px;
  --br-4xl: 23px;
}
