.mediaViewInfo {
	--web-view-name: Web 1920 – 4;
	--web-view-id: Web_1920__4;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Web_1920__4;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Web_1920__4 {
	position: absolute;
	width: 1920px;
	height: 2924px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: Web 1920 – 4;
	--web-view-id: Web_1920__4;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
#aaa {
	fill: rgba(255,255,255,1);
}
.aaa {
	filter: drop-shadow(0px 0px 50px rgba(0, 0, 0, 0.051));
	position: absolute;
	overflow: visible;
	width: 796px;
	height: 852px;
	left: 268px;
	top: 203px;
}
#aab {
	position: absolute;
	width: 130px;
	height: 32px;
	left: 1088px;
	top: 632px;
	overflow: visible;
}
#aac {
	border: 0;
	left: 61px;
	top: 2px;
	position: absolute;
	overflow: visible;
	width: 9px;
	white-space: nowrap;
	text-align: center;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(38,38,38,1);
	text-transform: uppercase;
}
#aad {
	position: absolute;
	width: 130px;
	height: 32px;
	left: 0px;
	top: 0.001px;
	overflow: visible;
}
#aae {
	position: absolute;
	width: 33px;
	height: 32px;
	left: 97.001px;
	top: 0px;
	overflow: visible;
}
#aaf {
	fill: rgba(178,178,178,1);
}
.aaf {
	position: absolute;
	overflow: visible;
	width: 33px;
	height: 32px;
	left: -0.001px;
	top: -0.001px;
}
#aag {
	fill: rgba(255,255,255,1);
}
.aag {
	overflow: visible;
	position: absolute;
	width: 15px;
	height: 15px;
	left: 8.999px;
	top: 8.999px;
	transform: matrix(1,0,0,1,0,0);
}
#aah {
	position: absolute;
	width: 33px;
	height: 32px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#aai {
	fill: rgba(224,224,224,1);
}
.aai {
	position: absolute;
	overflow: visible;
	width: 33px;
	height: 32px;
	left: 0px;
	top: -0.001px;
}
#aaj {
	fill: rgba(255,255,255,1);
}
.aaj {
	width: 2.176px;
	height: 9.431px;
	position: absolute;
	overflow: visible;
	transform: translate(0px, -0.201px) matrix(1,0,0,1,15.6066,11.7475) rotate(90deg);
	transform-origin: center;
}
#aak {
	position: absolute;
	width: 221px;
	height: 62px;
	left: 1088px;
	top: 741px;
	overflow: visible;
}
#aal {
	fill: rgba(65,65,65,1);
}
.aal {
	position: absolute;
	overflow: visible;
	width: 221px;
	height: 62px;
	left: 0px;
	top: 0px;
}
#aam {
	position: absolute;
	width: 156px;
	height: 24px;
	left: 33px;
	top: 19px;
	overflow: visible;
}
#aan {
	border: 0;
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 157px;
	white-space: nowrap;
	line-height: 50px;
	margin-top: -15px;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
	text-transform: uppercase;
}
#aao {
	position: absolute;
	width: 38.092px;
	height: 38.092px;
	left: 842.396px;
	top: 244.615px;
	overflow: visible;
}
#aap {
	position: absolute;
	width: 38.092px;
	height: 38.092px;
	left: 842.396px;
	top: 307.176px;
	overflow: visible;
}
#aaq {
	fill: rgba(255,255,255,1);
}
.aaq {
	position: absolute;
	overflow: visible;
	width: 480px;
	height: 174px;
	left: 350px;
	top: 857px;
}
#aar {
	fill: transparent;
	stroke: rgba(214,214,213,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.aar {
	position: absolute;
	overflow: visible;
	width: 120px;
	height: 129px;
	left: 380px;
	top: 880px;
}
#aas {
	fill: transparent;
	stroke: rgba(214,214,213,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.aas {
	position: absolute;
	overflow: visible;
	width: 120px;
	height: 129px;
	left: 530px;
	top: 880px;
}
#aat {
	fill: rgba(241,241,241,1);
}
.aat {
	position: absolute;
	overflow: visible;
	width: 120px;
	height: 129px;
	left: 680px;
	top: 880px;
}
#aau {
	border: 0;
	left: 769px;
	top: 1690px;
	position: absolute;
	overflow: visible;
	width: 384px;
	white-space: nowrap;
	line-height: 83px;
	margin-top: -16.5px;
	text-align: center;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 50px;
	color: rgba(65,65,65,1);
}
#aav {
	border: 0;
	left: 1088px;
	top: 295px;
	position: absolute;
	overflow: visible;
	width: 245px;
	white-space: nowrap;
	line-height: 80px;
	margin-top: -22px;
	text-align: center;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	color: rgba(99,222,208,1);
}
#aaw {
	position: absolute;
	width: 82px;
	height: 25px;
	left: 1088px;
	top: 363px;
	overflow: visible;
}
#aax {
	border: 0;
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 83px;
	white-space: nowrap;
	line-height: 60px;
	margin-top: -18px;
	text-align: center;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(65,65,65,1);
}
#aay {
	border: 0;
	left: 1088px;
	top: 458px;
	position: absolute;
	overflow: hidden;
	width: 461px;
	height: 136px;
	line-height: 35px;
	margin-top: -7.5px;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(65,65,65,1);
}
#aaz {
	border: 0;
	left: 682px;
	top: 1161.5px;
	position: absolute;
	overflow: visible;
	width: 255px;
	white-space: nowrap;
	line-height: 65px;
	margin-top: -7.5px;
	text-align: center;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 50px;
	color: rgba(65,65,65,1);
}
#aba {
	border: 0;
	left: 244px;
	top: 1298.5px;
	position: absolute;
	overflow: hidden;
	width: 1433px;
	height: 180px;
	line-height: 35px;
	margin-top: -7.5px;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(65,65,65,1);
}
#abb {
	border: 0;
	left: 1076px;
	top: 1161.5px;
	position: absolute;
	overflow: visible;
	width: 155px;
	white-space: nowrap;
	line-height: 65px;
	margin-top: -7.5px;
	text-align: center;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 50px;
	color: rgba(188,188,188,1);
}
#abc {
	border: 0;
	left: 1464px;
	top: 2287.5px;
	position: absolute;
	overflow: visible;
	width: 95px;
	white-space: nowrap;
	line-height: 60px;
	margin-top: -20px;
	text-align: center;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(65,65,65,1);
}
#abd {
	position: absolute;
	width: 137.4px;
	height: 21px;
	left: 1442px;
	top: 2317.376px;
	overflow: visible;
}
#abe {
	border: 0;
	left: 69.399px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 69px;
	white-space: nowrap;
	line-height: 60px;
	margin-top: -20px;
	text-align: center;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(65,65,65,1);
}
#abf {
	position: absolute;
	width: 60px;
	height: 17px;
	left: -0.001px;
	top: 2px;
	overflow: visible;
}
#abg {
	border: 0;
	left: 0.001px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 61px;
	white-space: nowrap;
	line-height: 60px;
	margin-top: -22px;
	text-align: center;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(178,178,178,1);
}
#abh {
	fill: rgba(0,0,0,0);
	stroke: rgba(206,206,206,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.abh {
	overflow: visible;
	position: absolute;
	width: 56.139px;
	height: 1px;
	left: 1.932px;
	top: 8.229px;
	transform: matrix(1,0,0,1,0,0);
}
#abi {
	border: 0;
	left: 386px;
	top: 2267.5px;
	position: absolute;
	overflow: visible;
	width: 103px;
	white-space: nowrap;
	line-height: 60px;
	margin-top: -20px;
	text-align: center;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(65,65,65,1);
}
#abj {
	border: 0;
	left: 403px;
	top: 2297.376px;
	position: absolute;
	overflow: visible;
	width: 69px;
	white-space: nowrap;
	line-height: 60px;
	margin-top: -20px;
	text-align: center;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(65,65,65,1);
}
#abk {
	border: 0;
	left: 896px;
	top: 2267.5px;
	position: absolute;
	overflow: visible;
	width: 103px;
	white-space: nowrap;
	line-height: 60px;
	margin-top: -20px;
	text-align: center;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(65,65,65,1);
}
#abl {
	border: 0;
	left: 913px;
	top: 2297.376px;
	position: absolute;
	overflow: visible;
	width: 69px;
	white-space: nowrap;
	line-height: 60px;
	margin-top: -20px;
	text-align: center;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(65,65,65,1);
}
#abm {
	position: absolute;
	width: 1922px;
	height: 87px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#abn {
	fill: rgba(237,235,235,1);
}
.abn {
	filter: drop-shadow(0px 6px 12px rgba(0, 0, 0, 0.129));
	position: absolute;
	overflow: visible;
	width: 1958px;
	height: 123px;
	left: 0px;
	top: 0px;
}
#abo {
	position: absolute;
	width: 418px;
	height: 38px;
	left: 150px;
	top: 25px;
	overflow: visible;
}
#abp {
	border: 0;
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 419px;
	white-space: nowrap;
	text-align: left;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 37px;
	color: rgba(69,69,69,1);
}
#abq {
	position: absolute;
	width: 916px;
	height: 35px;
	left: 760px;
	top: 31px;
	overflow: visible;
}
#abr {
	position: absolute;
	width: 916px;
	height: 35px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#abs {
	position: absolute;
	width: 916px;
	height: 35px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#abt {
	border: 0;
	left: 0px;
	top: 11px;
	position: absolute;
	overflow: visible;
	width: 52px;
	white-space: nowrap;
	text-align: left;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(65,65,65,1);
}
#abu {
	border: 0;
	left: 289px;
	top: 11px;
	position: absolute;
	overflow: visible;
	width: 47px;
	white-space: nowrap;
	text-align: left;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(99,222,208,1);
}
#abv {
	border: 0;
	left: 411px;
	top: 11px;
	position: absolute;
	overflow: visible;
	width: 46px;
	white-space: nowrap;
	text-align: left;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(65,65,65,1);
}
#abw {
	border: 0;
	left: 129px;
	top: 11px;
	position: absolute;
	overflow: visible;
	width: 83px;
	white-space: nowrap;
	text-align: left;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(65,65,65,1);
}
#abx {
	position: absolute;
	width: 23px;
	height: 23px;
	left: 674px;
	top: 4px;
	overflow: visible;
}
#aby {
	position: absolute;
	width: 24px;
	height: 23px;
	left: 715px;
	top: 4px;
	overflow: visible;
}
#abz {
	fill: rgba(99,222,208,1);
}
.abz {
	overflow: visible;
	position: absolute;
	width: 11.635px;
	height: 11.635px;
	left: 730.181px;
	top: 0.182px;
	transform: matrix(1,0,0,1,0,0);
}
#aca {
	border: 0;
	left: 734px;
	top: 1px;
	position: absolute;
	overflow: visible;
	width: 5px;
	white-space: nowrap;
	text-align: center;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	color: rgba(255,255,255,1);
}
#acb {
	position: absolute;
	width: 130px;
	height: 35px;
	left: 786px;
	top: 0px;
	overflow: visible;
}
#acc {
	fill: rgba(65,65,65,1);
}
.acc {
	position: absolute;
	overflow: visible;
	width: 130px;
	height: 35px;
	left: 0px;
	top: 0px;
}
#acd {
	border: 0;
	left: 42px;
	top: 10px;
	position: absolute;
	overflow: visible;
	width: 48px;
	white-space: nowrap;
	text-align: left;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	color: rgba(255,255,255,1);
	text-transform: uppercase;
}
#ace {
	border: 0;
	left: 533px;
	top: 11px;
	position: absolute;
	overflow: visible;
	width: 79px;
	white-space: nowrap;
	text-align: left;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(65,65,65,1);
}
#acf {
	position: absolute;
	width: 113.132px;
	height: 65.694px;
	left: 13.001px;
	top: 10.652px;
	overflow: visible;
}
#acg {
	fill: rgba(69,69,69,1);
}
.acg {
	overflow: visible;
	position: absolute;
	width: 113.132px;
	height: 65.693px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#ach {
	position: absolute;
	width: 1920px;
	height: 426.215px;
	left: 0px;
	top: 2497.785px;
	overflow: visible;
}
#aci {
	position: absolute;
	width: 30px;
	height: 30px;
	left: 244px;
	top: 270px;
	overflow: visible;
}
#acj {
	fill: rgba(112,112,112,1);
}
.acj {
	position: absolute;
	overflow: visible;
	width: 30px;
	height: 30px;
	left: 0px;
	top: 0px;
}
#ack {
	position: absolute;
	width: 14px;
	height: 14.495px;
	left: 8px;
	top: 8px;
	overflow: visible;
}
#acl {
	position: absolute;
	width: 6.589px;
	height: 14.231px;
	left: 3.953px;
	top: 0.264px;
	overflow: visible;
}
#acm {
	position: absolute;
	width: 6.589px;
	height: 14.231px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#acn {
	fill: rgba(0,0,0,0);
}
.acn {
	position: absolute;
	overflow: visible;
	width: 14px;
	height: 14px;
	left: 0px;
	top: 0px;
}
#aco {
	position: absolute;
	width: 31px;
	height: 30px;
	left: 283px;
	top: 270px;
	overflow: visible;
}
#acp {
	fill: rgba(112,112,112,1);
}
.acp {
	position: absolute;
	overflow: visible;
	width: 31px;
	height: 30px;
	left: 0px;
	top: 0px;
}
#acq {
	position: absolute;
	width: 15px;
	height: 14px;
	left: 8px;
	top: 8px;
	overflow: visible;
}
#acr {
	position: absolute;
	width: 30px;
	height: 30px;
	left: 322.999px;
	top: 270px;
	overflow: visible;
}
#acs {
	position: absolute;
	width: 30px;
	height: 30px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#act {
	fill: rgba(112,112,112,1);
}
.act {
	position: absolute;
	overflow: visible;
	width: 30px;
	height: 30px;
	left: 0px;
	top: 0px;
}
#acu {
	position: absolute;
	width: 14.231px;
	height: 13.704px;
	left: 8.226px;
	top: 7.805px;
	overflow: visible;
}
#acv {
	position: absolute;
	width: 14.231px;
	height: 13.704px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#acw {
	fill: rgba(0,0,0,0);
}
.acw {
	position: absolute;
	overflow: visible;
	width: 14px;
	height: 14px;
	left: 8.001px;
	top: 8px;
}
#acx {
	position: absolute;
	width: 31px;
	height: 30px;
	left: 362px;
	top: 270px;
	overflow: visible;
}
#acy {
	fill: rgba(112,112,112,1);
}
.acy {
	position: absolute;
	overflow: visible;
	width: 31px;
	height: 30px;
	left: 0px;
	top: 0px;
}
#acz {
	position: absolute;
	width: 15.397px;
	height: 15px;
	left: 8.001px;
	top: 7.999px;
	overflow: visible;
}
#ada {
	position: absolute;
	width: 15.15px;
	height: 12.344px;
	left: 0.247px;
	top: 1.208px;
	overflow: visible;
}
#adb {
	position: absolute;
	width: 15.149px;
	height: 12.344px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#adc {
	fill: rgba(0,0,0,0);
}
.adc {
	position: absolute;
	overflow: visible;
	width: 15px;
	height: 15px;
	left: 0px;
	top: 0px;
}
#add {
	fill: rgba(55,55,55,1);
}
.add {
	overflow: visible;
	position: absolute;
	width: 1920px;
	height: 426.215px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#ade {
	border: 0;
	left: 970px;
	top: 103.629px;
	position: absolute;
	overflow: visible;
	width: 75px;
	white-space: nowrap;
	line-height: 40px;
	margin-top: -13px;
	text-align: left;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	color: rgba(99,222,208,1);
}
#adf {
	border: 0;
	left: 970px;
	top: 179px;
	position: absolute;
	overflow: visible;
	width: 211px;
	height: 132.645263671875px;
	line-height: 36px;
	margin-top: -12px;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(255,255,255,1);
}
#adg {
	border: 0;
	left: 1293px;
	top: 103.629px;
	position: absolute;
	overflow: visible;
	width: 67px;
	white-space: nowrap;
	line-height: 40px;
	margin-top: -13px;
	text-align: left;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	color: rgba(99,222,208,1);
}
#adh {
	border: 0;
	left: 1293px;
	top: 179px;
	position: absolute;
	overflow: visible;
	width: 211px;
	height: 171.29049682617188px;
	line-height: 36px;
	margin-top: -12px;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(255,255,255,1);
}
#adi {
	border: 0;
	left: 240px;
	top: 154.476px;
	position: absolute;
	overflow: visible;
	width: 174px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -4px;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(255,255,255,1);
}
#adj {
	border: 0;
	left: 240px;
	top: 83.754px;
	position: absolute;
	overflow: visible;
	width: 339px;
	white-space: nowrap;
	text-align: left;
	font-family: Literata;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(255,255,255,1);
	text-transform: uppercase;
}