.fondo {
  position: absolute;
  width: calc(100% - 158px);
  right: 158px;
  bottom: 405px;
  left: 0;
  background-color: var(--color-white);
  height: 886px;
}
.lol-icon {
  position: absolute;
  right: 0;
  bottom: 421px;
  width: 960px;
  height: 870px;
  object-fit: cover;
}
.centro-de-ayuda {
  position: absolute;
  width: calc(100% - 84px);
  top: calc(50% - 8.5px);
  left: 85px;
  display: inline-block;
  height: 18px;
}
.help-center-icon {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  max-height: 100%;
  width: 47px;
}
.centro-de-ayuda-247-parent {
  position: absolute;
  top: calc(50% + 99px);
  right: 30px;
  width: 317px;
  height: 47px;
}
.garanta-de-por {
  position: absolute;
  height: calc(100% - 15.6px);
  width: calc(100% - 84px);
  top: 15.63px;
  left: 85px;
  display: inline-block;
}
.money-back-guarantee {
  position: absolute;
  top: 0;
  left: 0;
  width: 47px;
  height: 47px;
}
.garanta-de-por-vida-parent {
  position: absolute;
  top: calc(50% + 12.37px);
  right: 14px;
  width: 333px;
  height: 55.6px;
}
.free-shipping-icon {
  position: absolute;
  height: 100%;
  width: 13.54%;
  top: 0;
  right: 86.46%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.entrega-a-domicilio-parent {
  position: absolute;
  top: calc(50% - 73.44px);
  right: 0;
  width: 347px;
  height: 47px;
}
.por-qu {
  margin: 0;
}
.por-qu-elegirnos {
  position: absolute;
  top: calc(50% - 180.96px);
  right: 72.5px;
  font-size: var(--font-size-19xl);
  line-height: 40px;
  font-weight: 600;
  text-align: center;
}
.adb-2df229c7e2c34e20a7638e6188-icon {
  position: absolute;
  height: calc(100% - 6px);
  top: 4px;
  bottom: 2px;
  left: 6px;
  max-height: 100%;
  width: 961px;
  object-fit: cover;
}
.por-que-elegirnos {
  position: absolute;
  width: calc(100% - 284px);
  right: 284px;
  bottom: 405px;
  left: 0;
  height: 886px;
}
.bef28-e2d2-463c-ae04-d69b5960f-icon,
.bef28-e2d2-463c-ae04-d69b5960f-icon1 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  max-height: 100%;
  object-fit: cover;
  mix-blend-mode: multiply;
}
.bef28-e2d2-463c-ae04-d69b5960f-icon {
  right: 0;
  width: 386px;
}
.bef28-e2d2-463c-ae04-d69b5960f-icon1 {
  left: 0;
  width: 387px;
}
.descuentos {
  position: absolute;
  top: 117px;
  left: calc(50% - 727.4px);
  color: #7ab7b3;
}
.lorem-ipsum-dolor,
.oferta-de-verano {
  position: absolute;
  top: 82px;
  left: calc(50% - 727.4px);
  font-size: var(--font-size-3xl);
  text-align: left;
}
.lorem-ipsum-dolor {
  top: 177px;
  font-size: var(--font-size-sm);
  line-height: 22px;
  font-weight: 300;
  font-family: var(--font-montserrat);
  color: var(--color-dimgray);
  display: inline-block;
  width: 226px;
  height: 85px;
}
.e97-1bef-49b5-a039-25634b9aaaa-icon {
  position: absolute;
  width: calc(100% - 9px);
  top: 0;
  right: 9px;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  height: 258px;
  object-fit: cover;
  mix-blend-mode: multiply;
}
.lmpara {
  bottom: 30.9px;
  left: 27.4px;
}
.div1,
.div2,
.lmpara {
  position: absolute;
}
.div1 {
  bottom: 0.02px;
  left: calc(50% - 29.3px);
}
.div2 {
  top: 0;
  left: 0;
}
.path-263-icon {
  position: absolute;
  width: calc(100% - 3.9px);
  top: calc(50% - 0.77px);
  right: 2.47px;
  left: 1.43px;
  max-width: 100%;
  overflow: hidden;
  height: 1px;
}
.group-child,
.parent {
  position: absolute;
  left: 0;
}
.parent {
  bottom: 2.02px;
  width: 60px;
  height: 17px;
  font-size: var(--font-size-base);
  color: var(--color-darkgray);
}
.group-child {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.span {
  font-size: var(--font-size-sm);
}
.div3 {
  position: absolute;
  top: calc(50% - 12px);
  left: 5px;
}
.ellipse-parent {
  position: absolute;
  top: 0;
  right: 0;
  width: 52px;
  height: 52px;
  font-size: var(--font-size-7xl);
  color: var(--color-white);
}
.lmpara-parent {
  height: calc(100% - 17px);
  top: 17px;
  right: 0;
  bottom: 0;
  width: 197.4px;
}
.div,
.lmpara-parent,
.mesa {
  position: absolute;
}
.div {
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  width: 267px;
}
.mesa {
  bottom: 30.9px;
  left: calc(50% - 53.3px);
}
.div4 {
  height: 100%;
  top: 0;
  bottom: 0;
  left: calc(50% - 145.5px);
  width: 267px;
}
.div4,
.div8,
.silla {
  position: absolute;
}
.silla {
  bottom: 30.9px;
  left: calc(50% - 48.3px);
}
.div8 {
  height: 100%;
  top: 0;
  right: 24px;
  bottom: 0;
  width: 267px;
}
.contenido,
.repeat-grid-1 {
  position: absolute;
  height: 321.9px;
}
.repeat-grid-1 {
  top: 0;
  left: calc(50% - 383.62px);
  width: 1111px;
  font-size: var(--font-size-xl);
}
.contenido {
  top: 95px;
  left: calc(50% - 727.39px);
  width: 1454.8px;
}
.home1contenidodescuentos {
  position: absolute;
  width: 100%;
  top: calc(50% - 1078px);
  right: 0;
  left: 0;
  background-color: #faf4ef;
  height: 540px;
  text-align: center;
  font-size: var(--font-size-19xl);
}
.el-mejor-lugar-te-container {
  position: absolute;
  top: 250px;
  left: calc(50% - 714.76px);
  line-height: 51px;
}
.portada {
  position: absolute;
  width: calc(100% - 1px);
  top: 0;
  right: 1px;
  left: 0;
  height: 1079px;
  background-image: url(./public/portada@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  font-size: 39px;
}
.group-child1,
.line-div {
  position: absolute;
  border-right: 1px solid var(--color-gainsboro);
  box-sizing: border-box;
  width: 2px;
}
.line-div {
  top: 158px;
  left: calc(50% + 165.59px);
  height: 753px;
}
.group-child1 {
  top: calc(50% - 156.5px);
  left: calc(50% - 405.74px);
  height: 412px;
}
.line-icon {
  position: absolute;
  top: calc(50% - 157px);
  left: calc(50% - 833.5px);
  width: 843px;
  height: 2px;
}
.group-child2,
.group-child3 {
  position: absolute;
  box-sizing: border-box;
}
.group-child2 {
  width: 98.66%;
  top: calc(50% + 254.5px);
  right: 0;
  left: 1.34%;
  border-top: 1px solid var(--color-gainsboro);
  height: 2px;
}
.group-child3 {
  bottom: 0;
  left: calc(50% + 54.29px);
  border-right: 1px solid var(--color-gainsboro);
  width: 2px;
  height: 401px;
}
.d4713349-2e2e-473f-928f-b5c048-icon {
  position: absolute;
  top: calc(50% - 172.5px);
  left: calc(50% - 857px);
  width: 373px;
  height: 373px;
  object-fit: cover;
  mix-blend-mode: multiply;
}
.da0-1cc1-43d4-9e1e-61c12afab3d-icon {
  top: 0;
  left: calc(50% - 707px);
  width: 493px;
  height: 493px;
}
.ab18eb1-3696-44be-9e6f-ed51751-icon,
.da0-1cc1-43d4-9e1e-61c12afab3d-icon,
.shopping-icon {
  position: absolute;
  object-fit: cover;
  mix-blend-mode: multiply;
}
.shopping-icon {
  top: 190px;
  left: calc(50% + 312px);
  width: 545px;
  height: 545px;
}
.ab18eb1-3696-44be-9e6f-ed51751-icon {
  top: calc(50% - 147.5px);
  left: calc(50% - 280.58px);
  width: 289px;
  height: 289px;
}
.cd0d-49be-9a31-e6a0f5253c99-icon,
.e1288d-086d-42c6-aa4e-61575049-icon {
  position: absolute;
  bottom: 85px;
  left: calc(50% - 548.26px);
  width: 330px;
  height: 330px;
  object-fit: cover;
  mix-blend-mode: multiply;
}
.cd0d-49be-9a31-e6a0f5253c99-icon {
  bottom: 71px;
  left: calc(50% + 333px);
  width: 380px;
  height: 380px;
}
.categorias1 {
  position: absolute;
  top: 39px;
  left: calc(50% - 110.52px);
  font-size: var(--font-size-19xl);
  line-height: 40px;
  font-weight: 600;
}
.closets,
.sillas,
.sofas {
  position: absolute;
  top: calc(50% + 145.5px);
  left: calc(50% - 147.39px);
}
.closets,
.sofas {
  top: calc(50% + 131.5px);
  left: calc(50% + 491.13px);
}
.sofas {
  top: calc(50% - 220.5px);
  left: calc(50% - 386.29px);
}
.camas,
.gabinetes {
  position: absolute;
  bottom: 85px;
  left: calc(50% + 434.83px);
}
.gabinetes {
  left: calc(50% - 415.79px);
}
.mesas {
  position: absolute;
  top: calc(50% + 145.5px);
  left: calc(50% - 699px);
}
.categorias,
.line-parent {
  position: relative;
  width: 1714px;
  height: 1311px;
}
.categorias {
  position: absolute;
  top: calc(50% - 493px);
  left: calc(50% - 861.59px);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  text-align: center;
  font-size: var(--font-size-xl);
}
.rectangle-div {
  position: absolute;
  height: calc(100% - 0.3px);
  top: 0.26px;
  bottom: 0.04px;
  left: calc(50% - 3.05px);
  width: 6.6px;
  background-image: url(./public/rectangle-813@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.facebook-inner {
  position: absolute;
  top: calc(50% - 7px);
  left: calc(50% - 7px);
  width: 14px;
  height: 14.5px;
}
.facebook {
  position: absolute;
  top: calc(50% + 56.9px);
  left: 244px;
  border-radius: var(--br-21xl);
  background-color: var(--color-dimgray);
  width: 30px;
  height: 30px;
}
.vector-smart-object {
  position: absolute;
  top: calc(50% - 7px);
  left: calc(50% - 7.5px);
  width: 15px;
  height: 14px;
  object-fit: cover;
}
.instagram {
  position: absolute;
  top: calc(50% + 56.9px);
  left: 283px;
  border-radius: var(--br-21xl);
  background-color: var(--color-dimgray);
  width: 31px;
  height: 30px;
}
.rectangle-81311-copy-4 {
  position: absolute;
  top: calc(50% - 7.2px);
  left: calc(50% - 6.78px);
  width: 14.2px;
  height: 13.7px;
  background-image: url(./public/rectangle-81311-copy-4@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.rectangle-81311-copy-4-wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-21xl);
  background-color: var(--color-dimgray);
}
.imagemask {
  position: absolute;
  top: calc(50% - 7px);
  left: calc(50% - 7px);
  width: 14px;
  height: 14px;
}
.linkedin {
  position: absolute;
  top: calc(50% + 56.9px);
  left: 323px;
  width: 30px;
  height: 30px;
}
.rectangle-813111-copy-6 {
  position: absolute;
  height: calc(100% - 2.7px);
  width: calc(100% - 0.3px);
  top: 1.21px;
  right: 0.05px;
  bottom: 1.49px;
  left: 0.25px;
  background-image: url(./public/rectangle-813111-copy-6@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.rectangle-813111-copy-6-wrapper,
.twitter {
  position: absolute;
  top: calc(50% - 7px);
  left: calc(50% - 7.5px);
  width: 15.4px;
  height: 15px;
}
.twitter {
  top: calc(50% + 56.9px);
  left: calc(50% - 598px);
  border-radius: var(--br-21xl);
  background-color: var(--color-dimgray);
  width: 31px;
  height: 30px;
}
.path-253-icon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.company {
  position: absolute;
  top: calc(50% - 109.47px);
  left: calc(50% + 10px);
  font-size: var(--font-size-sm);
  font-weight: 600;
  font-family: var(--font-josefin-sans);
  color: var(--color-turquoise);
}
.profile-about-us-contact-addre {
  position: absolute;
  top: calc(50% - 34.1px);
  left: calc(50% + 10px);
  line-height: 36px;
  display: inline-block;
  width: 211px;
  height: 132.6px;
}
.returns {
  position: absolute;
  top: calc(50% - 109.47px);
  left: calc(50% + 333px);
  font-size: var(--font-size-sm);
  font-weight: 600;
  font-family: var(--font-josefin-sans);
  color: var(--color-turquoise);
}
.faqs-size-guide-contact-us-container {
  position: absolute;
  top: calc(50% - 34.1px);
  left: calc(50% + 333px);
  line-height: 36px;
  display: inline-block;
  width: 211px;
  height: 171.3px;
}
.lorem-ipsum-dolor-container {
  position: absolute;
  top: calc(50% - 58.62px);
  left: 240px;
  line-height: 20px;
}
.caribbean-house-studio {
  position: absolute;
  top: calc(50% - 129.35px);
  left: 240px;
  font-size: 24px;
  text-transform: uppercase;
  font-family: var(--font-literata);
}
.component-2-1,
.home1-child {
  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
}
.component-2-1 {
  bottom: -5.45px;
  height: 426.2px;
  font-size: var(--font-size-xs);
  color: var(--color-white);
  font-family: var(--font-montserrat);
}
.home1-child {
  top: calc(50% - 1153px);
  background-color: #a5d1ce;
  height: 75px;
  opacity: 0.81;
}
.fabrica-herreria {
  position: absolute;
  top: calc(50% - 1125px);
  left: calc(50% - 454.28px);
  font-size: var(--font-size-7xl);
  text-align: center;
}
.login {
  position: absolute;
  top: calc(50% - 7.5px);
  left: calc(50% - 23px);
  text-transform: uppercase;
  font-weight: 600;
}
.login-wrapper {
  position: absolute;
  top: calc(50% - 12.5px);
  right: 244px;
  background-color: var(--color-darkslategray-100);
  width: 130px;
  height: 35px;
}
.component-1-1-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.13);
  background-color: var(--color-whitesmoke);
}
.caribbean-house-studio1 {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 600;
}
.logo {
  position: absolute;
  top: calc(50% - 17.5px);
  left: 150px;
  width: 418px;
  height: 38px;
}
.component-1-1-wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 37px;
  color: #454545;
}
.logo-icon {
  position: absolute;
  height: calc(100% - 21.3px);
  top: 10.65px;
  bottom: 10.65px;
  left: 13px;
  max-height: 100%;
  width: 113.1px;
}
.group-parent {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.cart-icon,
.serach-icon {
  position: absolute;
  top: calc(50% - 11.5px);
  left: calc(50% + 217px);
  width: 23px;
  height: 23px;
}
.cart-icon {
  left: calc(50% + 258px);
  width: 24px;
}
.login-container {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-darkslategray-100);
  width: 130px;
  font-size: var(--font-size-sm);
  color: var(--color-white);
}
.path-74-icon {
  top: 2.18px;
  left: calc(50% + 272.74px);
  width: 11.6px;
  height: 11.6px;
}
.div12,
.inicio,
.path-74-icon {
  position: absolute;
}
.div12 {
  top: 3px;
  right: 175px;
  font-size: 10px;
  color: var(--color-white);
  text-align: center;
}
.inicio {
  top: calc(50% - 7.5px);
  left: 0;
  color: #38afa7;
}
.catlogo {
  position: absolute;
  top: calc(50% - 10.5px);
  left: calc(50% - 150px);
  text-align: center;
}
.blog,
.nuestra-historia,
.seguimiento {
  position: absolute;
  top: calc(50% - 7.5px);
}
.blog {
  left: calc(50% - 14px);
}
.nuestra-historia,
.seguimiento {
  cursor: pointer;
}
.nuestra-historia {
  left: 100px;
}
.seguimiento {
  left: calc(50% + 78px);
}
.barra-pestaas {
  position: absolute;
  top: calc(50% - 14.5px);
  right: 246px;
  width: 914px;
  height: 35px;
  font-size: var(--font-size-base);
  color: var(--color-darkslategray-100);
}
.menusup {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  height: 87px;
  font-size: var(--font-size-sm);
  color: var(--color-white);
}
.home1 {
  position: relative;
  background-color: var(--color-whitesmoke);
  width: 100%;
  height: 4318px;
  text-align: left;
  font-size: var(--font-size-3xl);
  color: var(--color-darkslategray-100);
  font-family: var(--font-josefin-sans);
}
