.mediaViewInfo {
	--web-view-name: index;
	--web-view-id: index;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: index;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Home {
	position: absolute;
	width: 1920px;
	height: 4318px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: Home;
	--web-view-id: Home;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#aac {
	position: absolute;
	width: 1937px;
	height: 1081px;
	left: -8px;
	top: 0px;
	overflow: visible;
}
#aad {
	opacity: 0.546;
	mix-blend-mode: multiply;
	position: absolute;
	width: 284.824px;
	height: 174.356px;
	left: 733.301px;
	top: 561.726px;
	overflow: visible;
}
#aae {
	fill: rgba(0,64,56,1);
}
.aae {
	overflow: visible;
	position: absolute;
	width: 284.824px;
	height: 174.355px;
	left: 0px;
	top: -0.001px;
	transform: matrix(1,0,0,1,0,0);
}
#aaf {
	fill: rgba(250,244,239,1);
}
.aaf {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 540px;
	left: 0px;
	top: 1081px;
}
#aag {
	position: absolute;
	width: 1792px;
	height: 1024px;
	left: 490px;
	top: 2967px;
	overflow: visible;
}
#aah {
	mix-blend-mode: multiply;
	position: absolute;
	width: 386px;
	height: 540px;
	left: 1576px;
	top: 1081px;
	overflow: visible;
}
#aai {
	mix-blend-mode: multiply;
	position: absolute;
	width: 387px;
	height: 540px;
	left: -40px;
	top: 1081px;
	overflow: visible;
}
#aaj {
	opacity: 0.811;
	fill: rgba(165,209,206,1);
}
.aaj {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 75px;
	left: 0px;
	top: 1006px;
}
#aak {
	position: absolute;
	width: 961px;
	height: 880px;
	left: -66px;
	top: 3028px;
	overflow: visible;
}
#aal {
	position: absolute;
	width: 1499px;
	height: 321.876px;
	left: 240px;
	top: 1176px;
	overflow: visible;
}
#aam {
	fill: rgba(99,222,208,1);
}
.aam {
	position: absolute;
	overflow: visible;
	width: 52px;
	height: 52px;
	left: 1365px;
	top: 17px;
}
#aan {
	border: 0;
	left: 1370px;
	top: 31px;
	position: absolute;
	overflow: visible;
	width: 43px;
	white-space: nowrap;
	line-height: 77px;
	margin-top: -25.5px;
	text-align: center;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(255,255,255,1);
}
#aao {
	border: 0;
	left: 0px;
	top: 117px;
	position: absolute;
	overflow: visible;
	width: 267px;
	white-space: nowrap;
	line-height: 80px;
	margin-top: -21px;
	text-align: center;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 38px;
	color: rgba(122,183,179,1);
}
#aap {
	border: 0;
	left: 0px;
	top: 82px;
	position: absolute;
	overflow: visible;
	width: 231px;
	white-space: nowrap;
	line-height: 80px;
	margin-top: -29px;
	text-align: left;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(65,65,65,1);
}
#aaq {
	border: 0;
	left: 0px;
	top: 177px;
	position: absolute;
	overflow: visible;
	width: 226px;
	height: 85px;
	line-height: 22px;
	margin-top: -4px;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: lighter;
	font-size: 14px;
	color: rgba(112,112,112,1);
}
#aar {
	position: absolute;
	width: 1159px;
	height: 321.876px;
	left: 340px;
	top: 0px;
	overflow: hidden;
}
#aas {
	position: absolute;
	width: 267px;
	height: 321.876px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#aat {
	mix-blend-mode: multiply;
	position: absolute;
	width: 258px;
	height: 258px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#aau {
	position: absolute;
	width: 197.4px;
	height: 304.876px;
	left: 69.6px;
	top: 17px;
	overflow: visible;
}
#aav {
	border: 0;
	left: 27.4px;
	top: 254px;
	position: absolute;
	overflow: visible;
	width: 85px;
	white-space: nowrap;
	line-height: 60px;
	margin-top: -20px;
	text-align: center;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(65,65,65,1);
}
#aaw {
	border: 0;
	left: 69.4px;
	top: 283.876px;
	position: absolute;
	overflow: visible;
	width: 69px;
	white-space: nowrap;
	line-height: 60px;
	margin-top: -20px;
	text-align: center;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(65,65,65,1);
}
#aax {
	position: absolute;
	width: 60px;
	height: 17px;
	left: 0px;
	top: 285.876px;
	overflow: visible;
}
#aay {
	border: 0;
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 61px;
	white-space: nowrap;
	line-height: 60px;
	margin-top: -22px;
	text-align: center;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(178,178,178,1);
}
#aaz {
	fill: rgba(0,0,0,0);
	stroke: rgba(206,206,206,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.aaz {
	overflow: visible;
	position: absolute;
	width: 56.139px;
	height: 1px;
	left: 1.932px;
	top: 8.229px;
	transform: matrix(1,0,0,1,0,0);
}
#aba {
	position: absolute;
	width: 52px;
	height: 52px;
	left: 145.4px;
	top: 0px;
	overflow: visible;
}
#abb {
	fill: rgba(99,222,208,1);
}
.abb {
	position: absolute;
	overflow: visible;
	width: 52px;
	height: 52px;
	left: 0px;
	top: 0px;
}
#abc {
	border: 0;
	left: 5px;
	top: 14px;
	position: absolute;
	overflow: visible;
	width: 43px;
	white-space: nowrap;
	line-height: 77px;
	margin-top: -25.5px;
	text-align: center;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(255,255,255,1);
}
#abd {
	position: absolute;
	width: 267px;
	height: 321.876px;
	left: 410px;
	top: 0px;
	overflow: visible;
}
#abe {
	mix-blend-mode: multiply;
	position: absolute;
	width: 258px;
	height: 258px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#abf {
	position: absolute;
	width: 197.4px;
	height: 304.876px;
	left: 69.6px;
	top: 17px;
	overflow: visible;
}
#abg {
	border: 0;
	left: 45.4px;
	top: 254px;
	position: absolute;
	overflow: visible;
	width: 49px;
	white-space: nowrap;
	line-height: 60px;
	margin-top: -20px;
	text-align: center;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(65,65,65,1);
}
#abh {
	border: 0;
	left: 69.4px;
	top: 283.876px;
	position: absolute;
	overflow: visible;
	width: 69px;
	white-space: nowrap;
	line-height: 60px;
	margin-top: -20px;
	text-align: center;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(65,65,65,1);
}
#abi {
	position: absolute;
	width: 60px;
	height: 17px;
	left: 0px;
	top: 285.876px;
	overflow: visible;
}
#abj {
	border: 0;
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 61px;
	white-space: nowrap;
	line-height: 60px;
	margin-top: -22px;
	text-align: center;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(178,178,178,1);
}
#abk {
	fill: rgba(0,0,0,0);
	stroke: rgba(206,206,206,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.abk {
	overflow: visible;
	position: absolute;
	width: 56.139px;
	height: 1px;
	left: 1.932px;
	top: 8.229px;
	transform: matrix(1,0,0,1,0,0);
}
#abl {
	position: absolute;
	width: 52px;
	height: 52px;
	left: 145.4px;
	top: 0px;
	overflow: visible;
}
#abm {
	fill: rgba(99,222,208,1);
}
.abm {
	position: absolute;
	overflow: visible;
	width: 52px;
	height: 52px;
	left: 0px;
	top: 0px;
}
#abn {
	border: 0;
	left: 5px;
	top: 14px;
	position: absolute;
	overflow: visible;
	width: 43px;
	white-space: nowrap;
	line-height: 77px;
	margin-top: -25.5px;
	text-align: center;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(255,255,255,1);
}
#abo {
	position: absolute;
	width: 267px;
	height: 321.876px;
	left: 820px;
	top: 0px;
	overflow: visible;
}
#abp {
	mix-blend-mode: multiply;
	position: absolute;
	width: 258px;
	height: 258px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#abq {
	position: absolute;
	width: 197.4px;
	height: 304.876px;
	left: 69.6px;
	top: 17px;
	overflow: visible;
}
#abr {
	border: 0;
	left: 50.4px;
	top: 254px;
	position: absolute;
	overflow: visible;
	width: 39px;
	white-space: nowrap;
	line-height: 60px;
	margin-top: -20px;
	text-align: center;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(65,65,65,1);
}
#abs {
	border: 0;
	left: 69.4px;
	top: 283.876px;
	position: absolute;
	overflow: visible;
	width: 69px;
	white-space: nowrap;
	line-height: 60px;
	margin-top: -20px;
	text-align: center;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(65,65,65,1);
}
#abt {
	position: absolute;
	width: 60px;
	height: 17px;
	left: 0px;
	top: 285.876px;
	overflow: visible;
}
#abu {
	border: 0;
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 61px;
	white-space: nowrap;
	line-height: 60px;
	margin-top: -22px;
	text-align: center;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(178,178,178,1);
}
#abv {
	fill: rgba(0,0,0,0);
	stroke: rgba(206,206,206,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.abv {
	overflow: visible;
	position: absolute;
	width: 56.139px;
	height: 1px;
	left: 1.932px;
	top: 8.229px;
	transform: matrix(1,0,0,1,0,0);
}
#abw {
	position: absolute;
	width: 52px;
	height: 52px;
	left: 145.4px;
	top: 0px;
	overflow: visible;
}
#abx {
	fill: rgba(99,222,208,1);
}
.abx {
	position: absolute;
	overflow: visible;
	width: 52px;
	height: 52px;
	left: 0px;
	top: 0px;
}
#aby {
	border: 0;
	left: 5px;
	top: 14px;
	position: absolute;
	overflow: visible;
	width: 43px;
	white-space: nowrap;
	line-height: 77px;
	margin-top: -25.5px;
	text-align: center;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(255,255,255,1);
}
#abz {
	position: absolute;
	width: 52px;
	height: 52px;
	left: 965px;
	top: 17px;
	overflow: visible;
}
#aca {
	fill: rgba(99,222,208,1);
}
.aca {
	position: absolute;
	overflow: visible;
	width: 52px;
	height: 52px;
	left: 0px;
	top: 0px;
}
#acb {
	border: 0;
	left: 5px;
	top: 14px;
	position: absolute;
	overflow: visible;
	width: 43px;
	white-space: nowrap;
	line-height: 77px;
	margin-top: -25.5px;
	text-align: center;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(255,255,255,1);
}
#acc {
	border: 0;
	left: 1256.5px;
	top: 3303px;
	position: absolute;
	overflow: visible;
	width: 245px;
	white-space: nowrap;
	line-height: 40px;
	margin-top: -1px;
	text-align: center;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 38px;
	color: rgba(65,65,65,1);
}
#acd {
	border: 0;
	left: 1312px;
	top: 3426.754px;
	position: absolute;
	overflow: hidden;
	width: 263px;
	height: 18px;
	line-height: 80px;
	margin-top: -29px;
	text-align: left;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(65,65,65,1);
}
#ace {
	border: 0;
	left: 1312px;
	top: 3514px;
	position: absolute;
	overflow: visible;
	width: 249px;
	height: 40px;
	text-align: left;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(65,65,65,1);
}
#acf {
	border: 0;
	left: 1312px;
	top: 3601px;
	position: absolute;
	overflow: hidden;
	width: 233px;
	height: 18px;
	line-height: 80px;
	margin-top: -29px;
	text-align: left;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(65,65,65,1);
}
#acg {
	border: 0;
	left: 254px;
	top: 228px;
	position: absolute;
	overflow: visible;
	width: 226px;
	white-space: nowrap;
	line-height: 46px;
	margin-top: -5.5px;
	text-align: left;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(65,65,65,1);
}
#ach {
	position: absolute;
	width: 1920px;
	height: 1416px;
	left: 0px;
	top: 1621px;
	overflow: visible;
}
#aci {
	fill: rgba(244,244,244,1);
}
.aci {
	filter: drop-shadow(0px -6px 12px rgba(0, 0, 0, 0.11));
	position: absolute;
	overflow: visible;
	width: 1956px;
	height: 1452px;
	left: 0px;
	top: 0px;
}
#acj {
	fill: transparent;
	stroke: rgba(221,219,219,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.acj {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 752px;
	left: 1091px;
	top: 204px;
	transform: matrix(1,0,0,1,0,0);
}
#ack {
	fill: transparent;
	stroke: rgba(221,219,219,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.ack {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 411px;
	left: 607px;
	top: 545px;
	transform: matrix(1,0,0,1,0,0);
}
#acl {
	fill: transparent;
	stroke: rgba(221,219,219,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.acl {
	overflow: visible;
	position: absolute;
	width: 843px;
	height: 2px;
	left: 248px;
	top: 544px;
	transform: matrix(1,0,0,1,0,0);
}
#acm {
	fill: transparent;
	stroke: rgba(221,219,219,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.acm {
	overflow: visible;
	position: absolute;
	width: 1428px;
	height: 1px;
	left: 248px;
	top: 956px;
	transform: matrix(1,0,0,1,0,0);
}
#acn {
	fill: transparent;
	stroke: rgba(221,219,219,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.acn {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 400px;
	left: 996px;
	top: 956px;
	transform: matrix(1,0,0,1,0,0);
}
#aco {
	mix-blend-mode: multiply;
	position: absolute;
	width: 373px;
	height: 373px;
	left: 224px;
	top: 528px;
	overflow: visible;
}
#acp {
	mix-blend-mode: multiply;
	position: absolute;
	width: 493px;
	height: 493px;
	left: 374px;
	top: 45px;
	overflow: visible;
}
#acq {
	mix-blend-mode: multiply;
	position: absolute;
	width: 545px;
	height: 545px;
	left: 1131px;
	top: 235px;
	overflow: visible;
}
#acr {
	mix-blend-mode: multiply;
	position: absolute;
	width: 289px;
	height: 289px;
	left: 694px;
	top: 553px;
	overflow: visible;
}
#acs {
	mix-blend-mode: multiply;
	position: absolute;
	width: 330px;
	height: 330px;
	left: 474px;
	top: 941px;
	overflow: visible;
}
#act {
	mix-blend-mode: multiply;
	position: absolute;
	width: 380px;
	height: 380px;
	left: 1152px;
	top: 905px;
	overflow: visible;
}
#acu {
	border: 0;
	left: 837px;
	top: 84px;
	position: absolute;
	overflow: visible;
	width: 247px;
	white-space: nowrap;
	line-height: 40px;
	margin-top: -1px;
	text-align: center;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 38px;
	color: rgba(65,65,65,1);
}
#acv {
	border: 0;
	left: 822px;
	top: 846px;
	position: absolute;
	overflow: visible;
	width: 47px;
	white-space: nowrap;
	line-height: 84px;
	margin-top: -32px;
	text-align: center;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(65,65,65,1);
}
#acw {
	border: 0;
	left: 1357px;
	top: 832px;
	position: absolute;
	overflow: visible;
	width: 65px;
	white-space: nowrap;
	line-height: 84px;
	margin-top: -32px;
	text-align: center;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(65,65,65,1);
}
#acx {
	border: 0;
	left: 620px;
	top: 480px;
	position: absolute;
	overflow: visible;
	width: 51px;
	white-space: nowrap;
	line-height: 84px;
	margin-top: -32px;
	text-align: center;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(65,65,65,1);
}
#acy {
	border: 0;
	left: 1310px;
	top: 1251px;
	position: absolute;
	overflow: visible;
	width: 63px;
	white-space: nowrap;
	line-height: 84px;
	margin-top: -32px;
	text-align: center;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(65,65,65,1);
}
#acz {
	border: 0;
	left: 594px;
	top: 1251px;
	position: absolute;
	overflow: visible;
	width: 91px;
	white-space: nowrap;
	line-height: 84px;
	margin-top: -32px;
	text-align: center;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(65,65,65,1);
}
#ada {
	border: 0;
	left: 382px;
	top: 846px;
	position: absolute;
	overflow: visible;
	width: 58px;
	white-space: nowrap;
	line-height: 84px;
	margin-top: -32px;
	text-align: center;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(65,65,65,1);
}
#adb {
	position: absolute;
	width: 1920px;
	height: 426.215px;
	left: 0px;
	top: 3897.246px;
	overflow: visible;
}
#adc {
	position: absolute;
	width: 30px;
	height: 30px;
	left: 244px;
	top: 270px;
	overflow: visible;
}
#add {
	fill: rgba(112,112,112,1);
}
.add {
	position: absolute;
	overflow: visible;
	width: 30px;
	height: 30px;
	left: 0px;
	top: 0px;
}
#ade {
	position: absolute;
	width: 14px;
	height: 14.495px;
	left: 8px;
	top: 8px;
	overflow: visible;
}
#adf {
	position: absolute;
	width: 6.589px;
	height: 14.231px;
	left: 3.953px;
	top: 0.264px;
	overflow: visible;
}
#adg {
	position: absolute;
	width: 6.588px;
	height: 14.231px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#adh {
	fill: rgba(0,0,0,0);
}
.adh {
	position: absolute;
	overflow: visible;
	width: 14px;
	height: 14px;
	left: 0px;
	top: 0px;
}
#adi {
	position: absolute;
	width: 31px;
	height: 30px;
	left: 283px;
	top: 270px;
	overflow: visible;
}
#adj {
	fill: rgba(112,112,112,1);
}
.adj {
	position: absolute;
	overflow: visible;
	width: 31px;
	height: 30px;
	left: 0px;
	top: 0px;
}
#adk {
	position: absolute;
	width: 15px;
	height: 14px;
	left: 8px;
	top: 8px;
	overflow: visible;
}
#adl {
	position: absolute;
	width: 30px;
	height: 30px;
	left: 323px;
	top: 270px;
	overflow: visible;
}
#adm {
	position: absolute;
	width: 30px;
	height: 30px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#adn {
	fill: rgba(112,112,112,1);
}
.adn {
	position: absolute;
	overflow: visible;
	width: 30px;
	height: 30px;
	left: 0px;
	top: 0px;
}
#ado {
	position: absolute;
	width: 14.231px;
	height: 13.704px;
	left: 8.225px;
	top: 7.805px;
	overflow: visible;
}
#adp {
	position: absolute;
	width: 14.232px;
	height: 13.704px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#adq {
	fill: rgba(0,0,0,0);
}
.adq {
	position: absolute;
	overflow: visible;
	width: 14px;
	height: 14px;
	left: 8px;
	top: 8px;
}
#adr {
	position: absolute;
	width: 31px;
	height: 30px;
	left: 362px;
	top: 270px;
	overflow: visible;
}
#ads {
	fill: rgba(112,112,112,1);
}
.ads {
	position: absolute;
	overflow: visible;
	width: 31px;
	height: 30px;
	left: 0px;
	top: 0px;
}
#adt {
	position: absolute;
	width: 15.397px;
	height: 15px;
	left: 8px;
	top: 7.999px;
	overflow: visible;
}
#adu {
	position: absolute;
	width: 15.15px;
	height: 12.344px;
	left: 0.248px;
	top: 1.208px;
	overflow: visible;
}
#adv {
	position: absolute;
	width: 15.15px;
	height: 12.344px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#adw {
	fill: rgba(0,0,0,0);
}
.adw {
	position: absolute;
	overflow: visible;
	width: 15px;
	height: 15px;
	left: 0px;
	top: 0px;
}
#adx {
	fill: rgba(55,55,55,1);
}
.adx {
	overflow: visible;
	position: absolute;
	width: 1920px;
	height: 426.215px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#ady {
	border: 0;
	left: 970px;
	top: 103.629px;
	position: absolute;
	overflow: visible;
	width: 75px;
	white-space: nowrap;
	line-height: 40px;
	margin-top: -13px;
	text-align: left;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	color: rgba(99,222,208,1);
}
#adz {
	border: 0;
	left: 970px;
	top: 179px;
	position: absolute;
	overflow: visible;
	width: 211px;
	height: 132.645263671875px;
	line-height: 36px;
	margin-top: -12px;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(255,255,255,1);
}
#aea {
	border: 0;
	left: 1293px;
	top: 103.629px;
	position: absolute;
	overflow: visible;
	width: 67px;
	white-space: nowrap;
	line-height: 40px;
	margin-top: -13px;
	text-align: left;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	color: rgba(99,222,208,1);
}
#aeb {
	border: 0;
	left: 1293px;
	top: 179px;
	position: absolute;
	overflow: visible;
	width: 211px;
	height: 171.29049682617188px;
	line-height: 36px;
	margin-top: -12px;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(255,255,255,1);
}
#aec {
	border: 0;
	left: 240px;
	top: 154.476px;
	position: absolute;
	overflow: visible;
	width: 174px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -4px;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(255,255,255,1);
}
#aed {
	border: 0;
	left: 240px;
	top: 83.754px;
	position: absolute;
	overflow: visible;
	width: 339px;
	white-space: nowrap;
	text-align: left;
	font-family: Literata;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(255,255,255,1);
	text-transform: uppercase;
}
#aee {
	position: absolute;
	width: 47px;
	height: 47px;
	left: 1227px;
	top: 3498.754px;
	overflow: visible;
}
#aef {
	position: absolute;
	width: 47px;
	height: 47px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#aeg {
	position: absolute;
	width: 47px;
	height: 47px;
	left: 1227px;
	top: 3586px;
	overflow: visible;
}
#aeh {
	position: absolute;
	width: 47px;
	height: 47px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#aei {
	position: absolute;
	width: 47px;
	height: 47px;
	left: 1227px;
	top: 3411.754px;
	overflow: visible;
}
#aej {
	position: absolute;
	width: 47px;
	height: 47px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#aek {
	border: 0;
	left: 449px;
	top: 1034px;
	position: absolute;
	overflow: visible;
	width: 947px;
	white-space: nowrap;
	text-align: center;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(65,65,65,1);
}
#ael {
	position: absolute;
	width: 1922px;
	height: 87px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#aem {
	position: absolute;
	width: 1922px;
	height: 87px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#aen {
	position: absolute;
	width: 130px;
	height: 35px;
	left: 1548px;
	top: 31px;
	overflow: visible;
}
#aeo {
	fill: rgba(65,65,65,1);
}
.aeo {
	position: absolute;
	overflow: visible;
	width: 130px;
	height: 35px;
	left: 0px;
	top: 0px;
}
#aep {
	border: 0;
	left: 42px;
	top: 10px;
	position: absolute;
	overflow: visible;
	width: 48px;
	white-space: nowrap;
	text-align: left;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	color: rgba(255,255,255,1);
	text-transform: uppercase;
}
#aeq {
	position: absolute;
	width: 1922px;
	height: 87px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#aer {
	position: absolute;
	width: 1922px;
	height: 87px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#aes {
	fill: rgba(237,235,235,1);
}
.aes {
	filter: drop-shadow(0px 6px 12px rgba(0, 0, 0, 0.129));
	position: absolute;
	overflow: visible;
	width: 1958px;
	height: 123px;
	left: 0px;
	top: 0px;
}
#aet {
	position: absolute;
	width: 418px;
	height: 38px;
	left: 150px;
	top: 25px;
	overflow: visible;
}
#aeu {
	border: 0;
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 419px;
	white-space: nowrap;
	text-align: left;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 37px;
	color: rgba(69,69,69,1);
}
#aev {
	position: absolute;
	width: 113.132px;
	height: 65.694px;
	left: 13px;
	top: 10.652px;
	overflow: visible;
}
#aew {
	fill: rgba(69,69,69,1);
}
.aew {
	overflow: visible;
	position: absolute;
	width: 113.133px;
	height: 65.693px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#aex {
	position: absolute;
	width: 916px;
	height: 35px;
	left: 760px;
	top: 29px;
	overflow: visible;
}
#aey {
	border: 0;
	left: 0px;
	top: 10px;
	position: absolute;
	overflow: visible;
	width: 53px;
	white-space: nowrap;
	text-align: left;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(56,175,167,1);
}
#aez {
	border: 0;
	left: 291px;
	top: 10px;
	position: absolute;
	overflow: visible;
	width: 47px;
	white-space: nowrap;
	text-align: center;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(65,65,65,1);
}
#afa {
	border: 0;
	left: 413px;
	top: 10px;
	position: absolute;
	overflow: visible;
	width: 46px;
	white-space: nowrap;
	text-align: left;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(65,65,65,1);
}
#afb {
	border: 0;
	left: 129px;
	top: 10px;
	position: absolute;
	overflow: visible;
	width: 83px;
	white-space: nowrap;
	--web-animation: fadein 0.30000001192092896s ease-in-out;
	--web-action-type: page;
	--web-action-target: AboutUs.html;
	cursor: pointer;
	text-align: left;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(65,65,65,1);
}
#afc {
	position: absolute;
	width: 23px;
	height: 23px;
	left: 676px;
	top: 6px;
	overflow: visible;
}
#afd {
	position: absolute;
	width: 24px;
	height: 23px;
	left: 717px;
	top: 6px;
	overflow: visible;
}
#afe {
	border: 0;
	left: 535px;
	top: 10px;
	position: absolute;
	overflow: visible;
	width: 79px;
	white-space: nowrap;
	text-align: left;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(65,65,65,1);
}
#aff {
	position: absolute;
	width: 130px;
	height: 35px;
	left: 786px;
	top: 0px;
	overflow: visible;
}
#afg {
	fill: rgba(65,65,65,1);
}
.afg {
	position: absolute;
	overflow: visible;
	width: 130px;
	height: 35px;
	left: 0px;
	top: 0px;
}
#afh {
	border: 0;
	left: 42px;
	top: 10px;
	position: absolute;
	overflow: visible;
	width: 48px;
	white-space: nowrap;
	text-align: left;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	color: rgba(255,255,255,1);
	text-transform: uppercase;
}
#afi {
	fill: rgba(56,175,167,1);
}
.afi {
	overflow: visible;
	position: absolute;
	width: 11.635px;
	height: 11.635px;
	left: 731.742px;
	top: 2.182px;
	transform: matrix(1,0,0,1,0,0);
}
#afj {
	border: 0;
	left: 736px;
	top: 3px;
	position: absolute;
	overflow: visible;
	width: 5px;
	white-space: nowrap;
	text-align: center;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	color: rgba(255,255,255,1);
}