


.containerLable{
  height: 100%;
  position: static;
}
.featured-items {
  position: relative;
  
  text-align: center;
  padding: 20px;
  background-color: var(--color-seashell); /* Fondo claro */
  border-radius: 8px;
}


.featured-items-title {
  font-size: var(--font-size-19xl); /* Tamaño grande para el título */
  line-height: 1.2;
  font-weight: 600;
  color: var(--color-lightseagreen); /* Color distintivo */
  margin-bottom: 10px;
  margin-top: 20px; /* Espaciado entre título y productos */
}

.featured-content {
  display: flex;
  gap: 20px; /* Espacio entre la lista de productos y la gráfica */
  justify-content: space-between;
  align-items: flex-start; /* Alinea los elementos verticalmente al inicio */
}






/*#######categorias###*/

.categorias {
    position: static;
    margin-top: -20px;
    text-align: center;
    font-size: var(--font-size-xl);
    background-color: #dfe0e4;
    align-items: center;
    transform: scale(1); /* Escala al 50% */
    transform-origin: center; /* El origen del escalado es la esquina superior izquierda */
    height: 820px;
    margin-bottom: -20px;
    
  }

.categorias1 {
  position: relative;
  top: 40px;
  text-align: center;
  font-size: var(--font-size-19xl);
  font-weight: 600;
  z-index: 3;
  margin-bottom: 40px;
}

.line-parent {
  position: relative;
  width: 1200px; /* Ancho máximo */
  height: auto; /* Ajusta la altura automáticamente */
  left: calc(50% - 600px); /* Centra el contenedor horizontalmente */
  transform-origin: top left; /* Define el punto de escala */
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columnas */
  grid-template-rows: repeat(2, auto); /* 2 filas ajustadas automáticamente */
  gap: 20px; /* Espaciado entre las celdas */
  justify-items: center;
  align-items: center;
  
}

/* Escalar cuando el ancho de la ventana sea menor a 1200px */
@media (max-width: 1200px) {
  .line-parent {
    width: 100vw; /* El contenedor ocupará todo el ancho de la ventana */
    transform: scale(calc(100vw / 1200)); /* Escala proporcionalmente */
    height: calc(1372.2px * (100vw / 1200)); /* Ajusta la altura proporcionalmente */
    left: 0; /* Asegura que el contenedor escale correctamente sin desplazarse */
  }
}

.categoria {
  text-align: center; /* Centra la imagen y el texto */
  display: flex;
  flex-direction: column; /* Coloca la imagen y el texto en una columna */
  align-items: center; /* Centra los elementos horizontalmente */
}


.categoria a {
  text-decoration: none; /* Elimina el subrayado de los enlaces */
  color: inherit; /* Mantiene el color del texto según el diseño */
}

.categoria-icon {
  width: 100%; /* Escala las imágenes proporcionalmente */
  height: 300px; /* Ajusta todas las imágenes a la misma altura */
  object-fit: contain; /* Recorta las imágenes para llenar el contenedor */
  border-radius: 5px; /* Opcional: añade bordes redondeados para estética */
  mix-blend-mode: multiply;
}

.categoria-nombre {
  margin-top: 10px; /* Espaciado entre la imagen y el texto */

  font-weight: bold;
}





/* #################### destacados ##############*/

.destacados-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columnas por fila */
  gap: 15px; /* Espacio entre productos */
  justify-content: left; /* Centra el contenido horizontalmente */
  max-width: 100%; /* Asegura que el contenedor no sea más ancho que el viewport */
  
}


.destacados-card {
    
  width: 100%; /* Ajusta al tamaño de la celda */
  max-width: 350px; /* Cambia este valor para hacerlas más anchas */
  height: 450px; /* Ajusta este valor para aumentar la altura */
  border-radius: 16px; /* Ajusta las esquinas si es necesario */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Resalta las tarjetas */
  background-color: #a5d1ce; /* Fondo */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: transform 0.3s ease-in-out;
}

.destacados-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.destacados-grid .product-image {
  width: 100%; /* Asegura que la imagen ocupe todo el ancho de la tarjeta */
  height: auto; /* Mantiene la proporción de la imagen */
  max-height: 60%; /* Limita la altura máxima */
  object-fit: cover; /* Hace que la imagen se recorte si es más grande */
  border-radius: 10px; /* Ajusta las esquinas de la imagen */
}

.destacados-grid .product-details {
  text-align: left;
  margin-top: 5px;
}

.destacados-grid .product-title {
  font-size: 1em;
  font-weight: bold;
  color: #4A403A;
}

.destacados-grid .product-price {
  font-size: 1.1em;
  color: #705645;
}



.frase {
  position: absolute;
  top: 5.7%;
  left: 13.27%;
  font-size: 39px;
  line-height: 18px;
  top: 300px;
}


.product-grid2 {
  display: flex;
  flex-wrap: wrap; /* Permite que los productos se ajusten a diferentes tamaños de pantalla */
  gap: 50px; /* Espacio entre los productos */
  margin-bottom: 30px;
  max-width: 1920px;
  flex: 2; /* Ocupa más espacio que la gráfica */
  min-width: 600px;
  margin-left: 50px;
 
}

.chart-container {
  flex: 3; /* Ocupa menos espacio que los productos */
  background-color: var(--color-seashell); /* Fondo claro */
  padding: 20px;
  border-radius: 8px;
  position: relative;
  height: 500px;
  width: 100%;
  margin-right: 50px;
  min-width: 300px;
}

.chart-container h3 {
  text-align: center;
  font-size: var(--font-size-xl);
  margin-bottom: 10px;
}

#price-chart-container {
  width: 100%; /* Ocupa todo el ancho del contenedor padre */
  height: 100%; /* Altura dinámica basada en la ventana */
  background-color: transparent;
  mix-blend-mode: multiply;
  
}
.destacados-grid .product-card:nth-child(1) {
  background-color: #C4A7E7; /* Morado pastel */
}

.destacados-grid .product-card:nth-child(2) {
  background-color: #F2A1A1; /* Rojo pastel */
}

.destacados-grid .product-card:nth-child(3) {
  background-color: #F6C28B; /* Naranja pastel */
}

.destacados-grid .product-card:nth-child(4) {
  background-color: #FDE9A9; /* Amarillo pastel */
}

.destacados-grid .product-card:nth-child(5) {
  background-color: #A5D1CE; /* Verde pastel */
}

.destacados-grid .product-card:nth-child(6) {
  background-color: #A8C6EA; /* Azul pastel */
}





/*################################## productos recientes */

.recent-items {
  position: static;
  
  z-index: 2; /* Asegúrate de que esté por encima de los fondos */
  max-width: 1920px;
  padding: 1px; /* Agrega un poco de espacio interior */
  background-color: var(--color-seashell); /* Fondo para asegurarte de que el contenido sea legible */
  height: 550px ;
}
.recent-items1 {
  position: relative; /* Asegura que respete el flujo del documento */
 
  margin-top: 80px;
  max-width: 100%;
  font-size: var(--font-size-19xl);
  line-height: 40px;
  font-weight: 600;
  
  text-align: center;
}

.product-image2 {
  width: calc(100%); /* Tamaño ajustado para el margen de 20px en cada lado */
  height: 60%;
  object-fit: cover; /* Asegura que la imagen se recorte para encajar en el cuadro */
  border-radius: 15px;
  border: 3px solid #f0f0f0;
  margin: 0 auto; /* Centra la imagen horizontalmente */
  display: block;
}


















.product-grid {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  gap: 50px; /* Espacio entre elementos si hay más de uno */
  margin-bottom: 30px;
}

.product-list {
  top: 400px;
  display: grid;
  grid-template-columns: repeat(6, 1fr); /* Mantiene 6 columnas */
  gap: 15px; /* Espaciado entre las tarjetas */
  margin-top: 20px;
  border-radius: 8px;
  padding: 20px;
}

  .product-card2,
  .product-card {
    
    border-radius: 8px;
    padding: calc(15%);
    width: calc(65%);
    max-width: 250px;
    height: 250px;
    background-color: rgba(165, 209, 206, 0.7); /* Fondo estilo chukum */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    cursor: pointer; /* Cambia el cursor para indicar que es clicable */
  }
  

  .product-link {
    text-decoration: none; /* Elimina el subrayado del enlace */
    color: inherit; /* Mantiene el color original del texto */
  }
  
  
  /* Estilo para cuando el contenedor se pasa el mouse por encima */
  .product-card:hover {
    transform: scale(1.05); /* Pequeña ampliación al hacer hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .product-image {
    width: calc(100%); /* Tamaño ajustado para el margen de 20px en cada lado */
    
    
    object-fit: cover; /* Asegura que la imagen se recorte para encajar en el cuadro */
    border-radius: 15px;
    border: 3px solid #f0f0f0;
    margin: 0 auto; /* Centra la imagen horizontalmente */
    display: block;
  }
  
  .product-details {
    margin-top: 10px;
    text-align: left;
  }
  
  .product-title {
    font-size: 1em;
    color: #4A403A; /* Color de texto estilo chukum */
    margin: 0 0 10px;
    font-weight: bold;
    display: -webkit-box; /* Para limitar líneas */
    -webkit-line-clamp: 2; /* Limitar a 2 líneas */
    -webkit-box-orient: vertical; /* Orientación del recorte */
    overflow: hidden; /* Ocultar texto excedente */
    text-overflow: ellipsis; /* Añadir "..." al texto truncado */
    cursor: pointer; /* Cambiar cursor para indicar interacción */
    position: relative; /* Necesario para el tooltip */
  }
  
  
 
  .product-price {
    margin-bottom: 20px;
  }

.product-details {
  padding: 10px;
}


.home1 {
  color: var(--color-darkslategray-100);
  font-family: var(--font-josefin-sans);
  position: absolute;
  
  width: 100%;
  height: 100%;
  text-align: left;
  font-size: var(--font-size-3xl);
}
.portada {
  width: 100%;
  height: 100%;
  position: fixed;
  background-image: url(./public/portada.webp);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -2;
  background-position: bottom;
  top: 80px;
}

#main-content {
  transform: scale(1); /* No aplica escala aquí */
  transform-origin: top left;
}

.portadaSpace{
  height:860px;
 
}


.chart-button-container {
  display: flex;
  justify-content: center;
  margin-top: 10px; /* Ajusta el margen según sea necesario */
}

.chart-button {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none; /* Elimina el subrayado */
  color: #ffffff; /* Texto blanco */
  background-color: #539c97; /* Color pastel chukum */
  border-radius: 25px; /* Bordes redondeados */
  font-size: 20px; /* Tamaño de fuente */
  font-family: 'Josefin Sans', sans-serif; /* Fuente consistente */
  font-weight: 600; /* Negrita moderada */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
  transition: background-color 0.3s ease, transform 0.2s ease; /* Transiciones suaves */
  text-align: center; /* Asegura que el texto esté centrado */
}

.chart-button:hover {
  background-color: #8EBFB7; /* Un tono ligeramente más oscuro al pasar el mouse */
  transform: scale(1.05); /* Ampliación sutil al pasar el mouse */
  cursor: pointer; /* Cambia el cursor a una mano */
}

.chart-button:active {
  transform: scale(0.95); /* Efecto de clic */
}

.chart-button:focus {
  outline: none; /* Elimina el contorno al enfocarse */
}
