@keyframes scale-up {
  0% {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}
.background-icon {
  position: absolute;
  width: calc(100% + 3px);
  top: -1283px;
  right: -3px;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  height: 3371px;
  object-fit: cover;
 

}
.fondobajo,
.path-253-icon6 {
  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
}
.fondobajo {
  bottom: 0;
  background-color: #f1f1f1;
  border: 1px solid var(--color-dimgray);
  box-sizing: border-box;
  height: 1880px;
}
.caribbean-house-studio12 {
  position: absolute;
  top: calc(50% - 129.35px);
  left: 240px;
  font-size: var(--font-size-5xl);
  text-transform: uppercase;
  font-family: var(--font-literata);
}

.divisor3 {
  position: absolute;
  width: calc(100% - 487px);
  top: 2200px;
  right: 243.5px;
  left: 243.5px;
  border-top: 1px solid var(--color-dimgray);
  box-sizing: border-box;
  height: 2px;
  margin-top: 40px;
}

.description1 {
  position: absolute;
  top: 92px;
  left: calc(50% - 278px);
}
.desc {
  white-space: pre-wrap; /* Respeta los saltos de línea y ajusta el texto automáticamente */
  word-wrap: break-word; /* Fuerza un salto de línea si una palabra es muy larga */
  overflow-wrap: break-word; /* Compatibilidad con navegadores modernos */
  line-height: 1.6; /* Ajusta la altura entre líneas */
  font-size: var(--font-size-xl);
  font-family: var(--font-montserrat);
  position: absolute;
  top: calc(35%);
  text-align: left;
  display: inline-block;
  width: calc(60%);
  max-width: 700px;
  min-width: 500px;
  max-height: 200px; /* Mantiene la altura máxima del contenedor */
  overflow-y: auto; /* Habilita el desplazamiento vertical si el contenido excede la altura máxima */
  padding: 10px; /* Espaciado interno */
  left: calc(50% - 300px);
  border-radius: 5px; /* Esquinas redondeadas opcionales */
}

.review {
  position: absolute;
  top: 92px;
  left: calc(50% + 116px);
  color: #496e6b;
}
.descripcion {
  position: absolute;
  width: 100%;
  top: 1100px;
  right: 0;
  left: 0;
  background-color: var(--color-powderblue);
  height: 465px;
  
}


.sqr-related-product-1,
.sqr-related-product-2,
.sqr-related-product-3 {
  background-color: transparent; /* Fondo transparente */
  width: 300px; /* Tamaño del cuadro */
  height: 300px; /* Tamaño del cuadro */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 20px;
}

.related-product-img {
  width: 100%; /* Ancho de la imagen */
  height: 100%; /* Altura de la imagen para que sea cuadrada */
  object-fit: cover; /* Ajuste de la imagen dentro del cuadro */
  border: 5px solid #a5d1ce;
  box-sizing: border-box; /* Para incluir el borde dentro del tamaño total */
  aspect-ratio: 1 / 1; /* Mantiene la relación de aspecto cuadrada */
}

.related-product-name,
.related-product-price {
  text-align: center;
  margin-top: 10px;
  font-family: var(--font-montserrat);
}

.related-product-name {
  font-size: 1.5rem; /* Tamaño del texto del nombre */
  font-weight: bold;
}

.related-product-price {
  font-size: 1.5rem; /* Tamaño del texto del precio */
  color: #555;
}

.related-products-tittle {
  position: absolute;
  top: -40px;
  left: calc(50% - 267px);
  font-size: var(--font-size-31xl);
}
.related-products {
  display: flex;
  justify-content: space-around;
  align-items: center;
  
  position: absolute;
  width: calc(100% - 488px);
  top: 2350px;
  right: 244px;
  left: 244px;
  height: 571px;
  font-size: var(--font-size-xl);
}
.divisor0 {
  position: absolute;
  top: 548px;
  right: 243.5px;
  border-top: 1px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 707px;
  height: 2px;
}
.imagenprincipal-icon {
  position: absolute;
  left: 0px;
  top: 0px;
  object-fit: cover;
  width: 600px;
  height: 600px;
  
  opacity: 1;
  
}
.imagenprincipal-icon.animate {
  animation: 1s ease 0s 1 normal forwards scale-up;
}
.div27 {
  position: absolute;
  top: 2px;
  left: calc(50% - 4px);
  line-height: 26px;
  text-transform: uppercase;
}










.adderContainer{
  position:relative;
  display: flex;
  top: 678px;
  left: 700px
}



.add-to-cart {
  text-transform: uppercase;
  margin-top: 20px;
}
.addcart {
  bottom: 28px;
  background-color: #838a6b;
  width: 300px;
  height: 62px;
  color: var(--color-white);
  font-family: var(--font-montserrat);
  cursor: pointer;
}
.addcart:hover{
  background-color: #a9aa65;
}

.adding {
  background-color: #C19A6B; /* Color momentáneo para "Añadiendo" */
  color: white;
  cursor:not-allowed;
}

.added {
  background-color: #87A96B; /* Color para "Añadido" */
  color: white;
}




.notificacion {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  color: #fff;
  font-size: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  animation: fadeIn 0.3s ease-out;
}

.notificacion.success {
  background-color: #90a728; /* Verde para éxito */
  color: var(--color-white);
  font-family: var(--font-montserrat);
  
}

.notificacion.error {
  background-color: #dc3545; /* Rojo para error */
  color: var(--color-white);
  font-family: var(--font-montserrat);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


/* Definir colores */
:root {
  --verde-disponible: #2D6A4F; /* Verde oscuro */
  --naranja-demorado: #FF7F11; /* Naranja quemado */
}

/* Clase para disponibilidad inmediata */
.disponible {
  color: var(--verde-disponible);
  font-weight: bold;
}

/* Clase para entrega diferida */
.no-disponible {
  color: var(--naranja-demorado);
  font-weight: bold;
}













.like-icon {
  top: 17.62px;
  left: calc(50% - 85.6px);
  width: 38.1px;
  height: 38.1px;
}
.a,
.like-icon,
.share-icon {
  position: absolute;
}
.share-icon {
  top: 80.18px;
  left: calc(50% - 85.6px);
  width: 38.1px;
  height: 38.1px;
}

.imagenes {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--color-powderblue);
  width: 600px;
  height: 175px;
}

.a, .b, .c, .d {
  position: absolute;
  top: 23px;
  width: 129px;
  height: calc(100% - 45px);
  
}

.a {
  left: 14px;
}

.b {
  left: calc(50% - 138px);
}

.c {
  left: calc(50% + 9px);
}

.d {
  right: 16px;
}

.a img,
.b img,
.c img,
.d img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ajusta la imagen para que ocupe todo el espacio, recortando si es necesario */
  border: 1px solid white; /* Añade un borde blanco de 12px */
  
}



.descripcionbasica {
  position: absolute;
  top: calc(50% - 270px);
  line-height: 30px;
  text-align: left;
  display: inline-block;
  width: 461px;
  
  max-height: 175px; /* Mantiene la altura máxima del contenedor */
  overflow-y: auto; /* Habilita el desplazamiento vertical si el contenido excede la altura máxima */
  padding: 10px; /* Espaciado interno */
  
  border-radius: 5px; /* Esquinas redondeadas opcionales */
}

.descripcionbasica,
.tela {
  font-family: var(--font-montserrat);
}
.material-tela {
  margin: 0;
}
.caracteristicas {
  position: absolute;
  top: calc(50% + 10.5px);
  left:calc(50% + 10.5px); ;
  line-height: 35px;
  text-align: left;
  display: inline-block;
  width: 461px;
  height: 172px;
  font-family: var(--font-montserrat);
}


.producto-info {
  position: absolute;
  display: flex;
  flex-direction: column; /* Colocar nombre y precio uno debajo del otro */
  align-items: flex-start; /* Alinear el contenido a la izquierda */
  position: absolute;
  top: 0; /* Ajustar según el diseño general */
  left: calc(50% + 10px);
  max-width: 500px; /* Limitar el ancho máximo */
}

.nombreproducto {
  font-size: 36px;
  color: var(--color-lightseagreen);
  text-align: left;
  white-space: normal; /* Permitir saltos de línea */
  overflow-wrap: break-word; /* Dividir palabras largas */
  line-height: 1.2; /* Espaciado entre líneas */
  text-transform: uppercase;
  margin-bottom: 10px; /* Separar visualmente del precio */
}

.precio {
 

  font-size: var(--font-size-19xl);
}



.info {
  left: 53%; /* Centrar horizontalmente */
  transform: translate(-50%, 0%); /* Ajustar el punto de referencia al centro */
  position: absolute;
  top: 190px;
  right: calc(50%);
  width: 1258px;
  height: 797px;
  font-size: var(--font-size-xl);
}
.component-1-12-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.13);
  background-color: var(--color-whitesmoke);
}
.caribbean-house-studio13 {
  position: absolute;
  width: calc(100% + 1px);
  top: calc(50% - 18.5px);
  left: 0;
  font-weight: 600;
  display: inline-block;
}
.logo6 {
  position: absolute;
  top: calc(50% - 16px);
  left: 150px;
  width: 472px;
  height: 37px;
  cursor: pointer;
}
.component-1-12 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: left;
  font-size: var(--font-size-18xl);
  color: var(--color-darkslategray-200);
}
.inicio6 {
  position: absolute;
  top: calc(50% - 5px);
  left: calc(50% - 201.05px);
  cursor: pointer;
}
.catlogo6 {
  position: absolute;
    top: calc(50% - 5px);
    left: calc(50% + 102.95px);
    cursor: pointer;
  color: var(--color-lightseagreen);
}
.blog6,
.nuestra-historia7,
.seguimiento8 {
  position: absolute;
  top: calc(50% - 5px);
  left: calc(50% + 239.95px);
}
.nuestra-historia7,
.seguimiento8 {
  left: calc(50% - 101.05px);
  cursor: pointer;
}
.seguimiento8 {
  left: calc(50% + 335.95px);
}
.cart-icon6,
.serach-icon6 {
  position: absolute;
  top: calc(50% - 10px);
  left: calc(50% + 474.95px);
  width: 23px;
  height: 23px;
}
.cart-icon6 {
  left: calc(50% + 515.95px);
  width: 24px;
}
.login6 {
  position: absolute;
  top: calc(50% - 7.5px);
  left: calc(50% - 23px);
  text-transform: uppercase;
  font-weight: 600;
}
.login-wrapper4 {
  position: absolute;
  top: calc(50% - 18px);
  right: 246.1px;
  background-color: var(--color-darkslategray-100);
  width: 130px;
  height: 35px;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-white);
}
.path-74-icon6 {
  position: absolute;
  top: calc(50% - 13.82px);
  left: calc(50% + 530.69px);
  width: 11.6px;
  height: 11.6px;
}
.div28 {
  position: absolute;
  top: calc(50% - 13px);
  left: calc(50% + 534.95px);
  font-size: var(--font-size-3xs);
  color: var(--color-white);
}
.logo-icon6 {
  position: absolute;
  height: calc(100% - 21.3px);
  top: 11.15px;
  bottom: 10.15px;
  left: 13px;
  max-height: 100%;
  width: 113.1px;
}
.header {
  position: fixed;
  width: calc(100% + 2.1px);
  top: -0.5px;
  right: -2.1px;
  left: 0;
  height: 87px;
  font-size: var(--font-size-base);
}
.producto {
  
  position: relative;
  background-color: var(--color-seashell);
  width: 100%;
  height: 3000px;
  text-align: center;
  font-size: var(--font-size-31xl);
  color: var(--color-darkslategray-100);
  font-family: var(--font-josefin-sans);
}

.historial-de-precios {
  position: relative;
  top: 10px;
  left: 16px;
  margin: 40px;
  text-align: center;
  align-items: center;
}
.historial {
  position: absolute;
  width: calc(100% - 462px);
  top: 1600px;
  right: 232px;
  left: 230px;
  height: 532px;
  justify-content: center;
  align-items: center;

}
#price-chart {
  background-color: transparent;
  margin: 0 auto; /* Para centrar horizontalmente */
  mix-blend-mode: multiply;
}




/*PALETA DE COLORES*/


.color-palette {
  margin: 20px 0;
  font-family: 'Josefin Sans', sans-serif;
  position: relative;
  max-width: 180px;
  
  position: absolute;
  top: 330px;
  right: 440px;
}


.color-grid {
  display: grid;
  grid-template-columns: repeat(12, 2fr);
  gap: 5px;
  max-width: 100%;
}

.color-box {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  border: 2px solid #ddd;
  cursor: pointer;
  position: relative;
}

.color-box:hover {
  border-color: #333;
}

.color-box::after {
  content: attr(title);
  position: absolute;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.75);
  color: #fff;
  font-size: 12px;
  padding: 2px 5px;
  border-radius: 3px;
  display: none;
}

