.mediaViewInfo {
	--web-view-name: Web 1920 – 3;
	--web-view-id: Web_1920__3;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Web_1920__3;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Web_1920__3 {
	position: absolute;
	width: 1920px;
	height: 3819px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: Web 1920 – 3;
	--web-view-id: Web_1920__3;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
#aip {
	fill: rgba(244,244,244,1);
}
.aip {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 898px;
	left: 0px;
	top: 87px;
}
#aiq {
	border: 0;
	left: 751px;
	top: 1516px;
	position: absolute;
	overflow: visible;
	width: 341px;
	white-space: nowrap;
	line-height: 80px;
	margin-top: -15px;
	text-align: center;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 50px;
	color: rgba(99,222,208,1);
}
#air {
	border: 0;
	left: 838px;
	top: 1466px;
	position: absolute;
	overflow: visible;
	width: 167px;
	white-space: nowrap;
	line-height: 80px;
	margin-top: -29px;
	text-align: center;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(65,65,65,1);
}
#ais {
	border: 0;
	left: 798px;
	top: 2367px;
	position: absolute;
	overflow: visible;
	width: 95px;
	white-space: nowrap;
	line-height: 84px;
	margin-top: -32px;
	text-align: center;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(65,65,65,1);
}
#ait {
	fill: transparent;
	stroke: rgba(221,219,219,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.ait {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 802px;
	left: 1091px;
	top: 1675px;
	transform: matrix(1,0,0,1,0,0);
}
#aiu {
	fill: transparent;
	stroke: rgba(221,219,219,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.aiu {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 1380px;
	left: 611px;
	top: 1675px;
	transform: matrix(1,0,0,1,0,0);
}
#aiv {
	fill: transparent;
	stroke: rgba(221,219,219,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.aiv {
	overflow: visible;
	position: absolute;
	width: 843.002px;
	height: 2px;
	left: 248px;
	top: 2065px;
	transform: matrix(1,0,0,1,0,0);
}
#aiw {
	fill: transparent;
	stroke: rgba(221,219,219,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.aiw {
	overflow: visible;
	position: absolute;
	width: 1069px;
	height: 1px;
	left: 607px;
	top: 2477px;
	transform: matrix(1,0,0,1,0,0);
}
#aix {
	fill: transparent;
	stroke: rgba(221,219,219,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.aix {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 572px;
	left: 1200px;
	top: 2477px;
	transform: matrix(1,0,0,1,0,0);
}
#aiy {
	border: 0;
	left: 363px;
	top: 1964px;
	position: absolute;
	overflow: visible;
	width: 95px;
	white-space: nowrap;
	line-height: 60px;
	margin-top: -20px;
	text-align: center;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(65,65,65,1);
}
#aiz {
	position: absolute;
	width: 68px;
	height: 21px;
	left: 375.999px;
	top: 1993.876px;
	overflow: visible;
}
#aja {
	border: 0;
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 69px;
	white-space: nowrap;
	line-height: 60px;
	margin-top: -20px;
	text-align: center;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(65,65,65,1);
}
#ajb {
	border: 0;
	left: 1313px;
	top: 2315.124px;
	position: absolute;
	overflow: visible;
	width: 155px;
	white-space: nowrap;
	line-height: 60px;
	margin-top: -20px;
	text-align: center;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(65,65,65,1);
}
#ajc {
	position: absolute;
	width: 68px;
	height: 21px;
	left: 1356px;
	top: 2345px;
	overflow: visible;
}
#ajd {
	border: 0;
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 69px;
	white-space: nowrap;
	line-height: 60px;
	margin-top: -20px;
	text-align: center;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(65,65,65,1);
}
#aje {
	border: 0;
	left: 798.5px;
	top: 1964px;
	position: absolute;
	overflow: visible;
	width: 95px;
	white-space: nowrap;
	line-height: 60px;
	margin-top: -20px;
	text-align: center;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(65,65,65,1);
}
#ajf {
	position: absolute;
	width: 68px;
	height: 21px;
	left: 811.5px;
	top: 1993.876px;
	overflow: visible;
}
#ajg {
	border: 0;
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 69px;
	white-space: nowrap;
	line-height: 60px;
	margin-top: -20px;
	text-align: center;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(65,65,65,1);
}
#ajh {
	border: 0;
	left: 372px;
	top: 2506.876px;
	position: absolute;
	overflow: visible;
	width: 95px;
	white-space: nowrap;
	line-height: 60px;
	margin-top: -20px;
	text-align: center;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(65,65,65,1);
}
#aji {
	position: absolute;
	width: 68px;
	height: 21px;
	left: 385px;
	top: 2536.752px;
	overflow: visible;
}
#ajj {
	border: 0;
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 69px;
	white-space: nowrap;
	line-height: 60px;
	margin-top: -20px;
	text-align: center;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(65,65,65,1);
}
#ajk {
	fill: transparent;
	stroke: rgba(221,219,219,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.ajk {
	overflow: visible;
	position: absolute;
	width: 367px;
	height: 1px;
	left: 244px;
	top: 2587px;
	transform: matrix(1,0,0,1,0,0);
}
#ajl {
	border: 0;
	left: 381px;
	top: 2933.876px;
	position: absolute;
	overflow: visible;
	width: 95px;
	white-space: nowrap;
	line-height: 60px;
	margin-top: -20px;
	text-align: center;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(65,65,65,1);
}
#ajm {
	position: absolute;
	width: 68px;
	height: 21px;
	left: 394px;
	top: 2963.752px;
	overflow: visible;
}
#ajn {
	border: 0;
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 69px;
	white-space: nowrap;
	line-height: 60px;
	margin-top: -20px;
	text-align: center;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(65,65,65,1);
}
#ajo {
	border: 0;
	left: 861px;
	top: 2894.563px;
	position: absolute;
	overflow: visible;
	width: 95px;
	white-space: nowrap;
	line-height: 60px;
	margin-top: -20px;
	text-align: center;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(65,65,65,1);
}
#ajp {
	position: absolute;
	width: 68px;
	height: 21px;
	left: 874px;
	top: 2924.438px;
	overflow: visible;
}
#ajq {
	border: 0;
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 69px;
	white-space: nowrap;
	line-height: 60px;
	margin-top: -20px;
	text-align: center;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(65,65,65,1);
}
#ajr {
	border: 0;
	left: 1437px;
	top: 2884.563px;
	position: absolute;
	overflow: visible;
	width: 95px;
	white-space: nowrap;
	line-height: 60px;
	margin-top: -20px;
	text-align: center;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(65,65,65,1);
}
#ajs {
	position: absolute;
	width: 68px;
	height: 21px;
	left: 1450px;
	top: 2914.438px;
	overflow: visible;
}
#ajt {
	border: 0;
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 69px;
	white-space: nowrap;
	line-height: 60px;
	margin-top: -20px;
	text-align: center;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(65,65,65,1);
}
#aju {
	position: absolute;
	width: 361.935px;
	height: 31px;
	left: 779.001px;
	top: 3219.088px;
	overflow: visible;
}
#ajv {
	border: 0;
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 87px;
	white-space: nowrap;
	line-height: 41.66667175292969px;
	margin-top: -5.833335876464844px;
	text-align: left;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(65,65,65,1);
}
#ajw {
	border: 0;
	left: 269.935px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 93px;
	white-space: nowrap;
	line-height: 41.66667175292969px;
	margin-top: -5.833335876464844px;
	text-align: left;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(99,222,208,1);
}
#ajx {
	border: 0;
	left: 122.935px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 11px;
	white-space: nowrap;
	line-height: 41.66667175292969px;
	margin-top: -5.833335876464844px;
	text-align: left;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(65,65,65,1);
}
#ajy {
	border: 0;
	left: 167.935px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 17px;
	white-space: nowrap;
	line-height: 41.66667175292969px;
	margin-top: -5.833335876464844px;
	text-align: left;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(65,65,65,1);
}
#ajz {
	border: 0;
	left: 218.935px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 17px;
	white-space: nowrap;
	line-height: 41.66667175292969px;
	margin-top: -5.833335876464844px;
	text-align: left;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(65,65,65,1);
}
#aka {
	position: absolute;
	width: 68px;
	height: 21px;
	left: 811.5px;
	top: 2396.876px;
	overflow: visible;
}
#akb {
	border: 0;
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 69px;
	white-space: nowrap;
	line-height: 60px;
	margin-top: -20px;
	text-align: center;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(65,65,65,1);
}
#akc {
	fill: rgba(250,250,250,1);
}
.akc {
	position: absolute;
	overflow: visible;
	width: 198px;
	height: 193px;
	left: 466px;
	top: 983px;
}
#akd {
	fill: transparent;
	stroke: rgba(221,219,219,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.akd {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 193px;
	left: 663.5px;
	top: 983px;
	transform: matrix(1,0,0,1,0,0);
}
#ake {
	fill: transparent;
	stroke: rgba(221,219,219,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.ake {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 193px;
	left: 867.5px;
	top: 983px;
	transform: matrix(1,0,0,1,0,0);
}
#akf {
	fill: transparent;
	stroke: rgba(221,219,219,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.akf {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 193px;
	left: 1071px;
	top: 983px;
	transform: matrix(1,0,0,1,0,0);
}
#akg {
	fill: transparent;
	stroke: rgba(221,219,219,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.akg {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 193px;
	left: 1275.5px;
	top: 983px;
	transform: matrix(1,0,0,1,0,0);
}
#akh {
	fill: transparent;
	stroke: rgba(221,219,219,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.akh {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 193px;
	left: 1479.5px;
	top: 983px;
	transform: matrix(1,0,0,1,0,0);
}
#aki {
	fill: rgba(250,250,250,1);
}
.aki {
	position: absolute;
	overflow: visible;
	width: 222px;
	height: 96px;
	left: 244px;
	top: 983px;
}
#akj {
	border: 0;
	left: 244px;
	top: 401.5px;
	position: absolute;
	overflow: hidden;
	width: 485px;
	height: 140px;
	line-height: 35px;
	margin-top: -7.5px;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(65,65,65,1);
}
#akk {
	border: 0;
	left: 244px;
	top: 333px;
	position: absolute;
	overflow: visible;
	width: 115px;
	white-space: nowrap;
	line-height: 65px;
	margin-top: -7.5px;
	text-align: left;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 50px;
	color: rgba(65,65,65,1);
}
#akl {
	fill: transparent;
	stroke: rgba(221,219,219,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.akl {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 193px;
	left: 466px;
	top: 983px;
	transform: matrix(1,0,0,1,0,0);
}
#akm {
	border: 0;
	left: 305px;
	top: 1023px;
	position: absolute;
	overflow: visible;
	width: 101px;
	white-space: nowrap;
	line-height: 60px;
	margin-top: -17px;
	text-align: left;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(99,222,208,1);
}
#akn {
	fill: transparent;
	stroke: rgba(221,219,219,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.akn {
	overflow: visible;
	position: absolute;
	width: 222px;
	height: 1px;
	left: 244px;
	top: 1080px;
	transform: matrix(1,0,0,1,0,0);
}
#ako {
	fill: transparent;
	stroke: rgba(221,219,219,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.ako {
	overflow: visible;
	position: absolute;
	width: 1432px;
	height: 1px;
	left: 244px;
	top: 1177px;
	transform: matrix(1,0,0,1,0,0);
}
#akp {
	border: 0;
	left: 532px;
	top: 1139px;
	position: absolute;
	overflow: visible;
	width: 75px;
	white-space: nowrap;
	line-height: 84px;
	margin-top: -34px;
	text-align: center;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(65,65,65,1);
}
#akq {
	border: 0;
	left: 749px;
	top: 1139px;
	position: absolute;
	overflow: visible;
	width: 41px;
	white-space: nowrap;
	line-height: 84px;
	margin-top: -34px;
	text-align: center;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(65,65,65,1);
}
#akr {
	border: 0;
	left: 954px;
	top: 1139px;
	position: absolute;
	overflow: visible;
	width: 39px;
	white-space: nowrap;
	line-height: 84px;
	margin-top: -34px;
	text-align: center;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(65,65,65,1);
}
#aks {
	border: 0;
	left: 1147px;
	top: 1139px;
	position: absolute;
	overflow: visible;
	width: 57px;
	white-space: nowrap;
	line-height: 84px;
	margin-top: -34px;
	text-align: center;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(65,65,65,1);
}
#akt {
	border: 0;
	left: 1360px;
	top: 1139px;
	position: absolute;
	overflow: visible;
	width: 29px;
	white-space: nowrap;
	line-height: 84px;
	margin-top: -34px;
	text-align: center;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(65,65,65,1);
}
#aku {
	border: 0;
	left: 1550px;
	top: 1139px;
	position: absolute;
	overflow: visible;
	width: 61px;
	white-space: nowrap;
	line-height: 84px;
	margin-top: -34px;
	text-align: center;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(65,65,65,1);
}
#akv {
	border: 0;
	left: 305px;
	top: 1120px;
	position: absolute;
	overflow: visible;
	width: 82px;
	white-space: nowrap;
	line-height: 60px;
	margin-top: -17px;
	text-align: left;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(65,65,65,1);
}
#akw {
	fill: transparent;
	stroke: rgba(178,178,178,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.akw {
	overflow: visible;
	position: absolute;
	width: 309.5px;
	height: 2px;
	left: 510px;
	top: 1232.5px;
	transform: matrix(1,0,0,1,0,0);
}
#akx {
	border: 0;
	left: 497.5px;
	top: 1260.341px;
	position: absolute;
	overflow: visible;
	width: 147px;
	white-space: nowrap;
	line-height: 40px;
	margin-top: -10px;
	text-align: left;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(64,64,64,1);
}
#aky {
	fill: transparent;
	stroke: rgba(38,38,38,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.aky {
	overflow: visible;
	position: absolute;
	width: 209.5px;
	height: 2px;
	left: 510px;
	top: 1232.5px;
	transform: matrix(1,0,0,1,0,0);
}
#akz {
	fill: rgba(64,64,64,1);
}
.akz {
	position: absolute;
	overflow: visible;
	width: 12px;
	height: 12px;
	left: 503.5px;
	top: 1226px;
}
#ala {
	fill: rgba(106,106,106,1);
}
.ala {
	position: absolute;
	overflow: visible;
	width: 23px;
	height: 24px;
	left: 1071px;
	top: 1222px;
}
#alb {
	fill: rgba(128,124,122,1);
}
.alb {
	position: absolute;
	overflow: visible;
	width: 23px;
	height: 24px;
	left: 1108px;
	top: 1222px;
}
#alc {
	fill: rgba(161,160,152,1);
}
.alc {
	position: absolute;
	overflow: visible;
	width: 23px;
	height: 24px;
	left: 1145px;
	top: 1222px;
}
#ald {
	fill: rgba(196,196,196,1);
}
.ald {
	position: absolute;
	overflow: visible;
	width: 23px;
	height: 24px;
	left: 1182px;
	top: 1222px;
}
#ale {
	border: 0;
	left: 305px;
	top: 1220px;
	position: absolute;
	overflow: visible;
	width: 127px;
	white-space: nowrap;
	line-height: 60px;
	margin-top: -17px;
	text-align: left;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(65,65,65,1);
}
#alf {
	fill: rgba(99,222,208,1);
}
.alf {
	position: absolute;
	overflow: visible;
	width: 18px;
	height: 18px;
	left: 710.5px;
	top: 1223px;
}
#alg {
	border: 0;
	left: 945px;
	top: 1220px;
	position: absolute;
	overflow: visible;
	width: 78px;
	white-space: nowrap;
	line-height: 60px;
	margin-top: -17px;
	text-align: left;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(65,65,65,1);
}
#alh {
	position: absolute;
	width: 1922px;
	height: 87px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#ali {
	fill: rgba(237,235,235,1);
}
.ali {
	filter: drop-shadow(0px 6px 12px rgba(0, 0, 0, 0.129));
	position: absolute;
	overflow: visible;
	width: 1958px;
	height: 123px;
	left: 0px;
	top: 0px;
}
#alj {
	position: absolute;
	width: 418px;
	height: 38px;
	left: 150px;
	top: 25px;
	overflow: visible;
}
#alk {
	border: 0;
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 419px;
	white-space: nowrap;
	text-align: left;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 37px;
	color: rgba(69,69,69,1);
}
#all {
	position: absolute;
	width: 916px;
	height: 35px;
	left: 760px;
	top: 31px;
	overflow: visible;
}
#alm {
	position: absolute;
	width: 916px;
	height: 35px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#aln {
	position: absolute;
	width: 916px;
	height: 35px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#alo {
	border: 0;
	left: 0px;
	top: 11px;
	position: absolute;
	overflow: visible;
	width: 52px;
	white-space: nowrap;
	text-align: left;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(65,65,65,1);
}
#alp {
	border: 0;
	left: 289px;
	top: 11px;
	position: absolute;
	overflow: visible;
	width: 47px;
	white-space: nowrap;
	text-align: left;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(99,222,208,1);
}
#alq {
	border: 0;
	left: 411px;
	top: 11px;
	position: absolute;
	overflow: visible;
	width: 46px;
	white-space: nowrap;
	text-align: left;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(65,65,65,1);
}
#alr {
	border: 0;
	left: 129px;
	top: 11px;
	position: absolute;
	overflow: visible;
	width: 83px;
	white-space: nowrap;
	text-align: left;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(65,65,65,1);
}
#als {
	position: absolute;
	width: 23px;
	height: 23px;
	left: 674px;
	top: 4px;
	overflow: visible;
}
#alt {
	position: absolute;
	width: 24px;
	height: 23px;
	left: 715px;
	top: 4px;
	overflow: visible;
}
#alu {
	fill: rgba(99,222,208,1);
}
.alu {
	overflow: visible;
	position: absolute;
	width: 11.635px;
	height: 11.635px;
	left: 730.181px;
	top: 0.182px;
	transform: matrix(1,0,0,1,0,0);
}
#alv {
	border: 0;
	left: 734px;
	top: 1px;
	position: absolute;
	overflow: visible;
	width: 5px;
	white-space: nowrap;
	text-align: center;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	color: rgba(255,255,255,1);
}
#alw {
	position: absolute;
	width: 130px;
	height: 35px;
	left: 786px;
	top: 0px;
	overflow: visible;
}
#alx {
	fill: rgba(65,65,65,1);
}
.alx {
	position: absolute;
	overflow: visible;
	width: 130px;
	height: 35px;
	left: 0px;
	top: 0px;
}
#aly {
	border: 0;
	left: 42px;
	top: 10px;
	position: absolute;
	overflow: visible;
	width: 48px;
	white-space: nowrap;
	text-align: left;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	color: rgba(255,255,255,1);
	text-transform: uppercase;
}
#alz {
	border: 0;
	left: 533px;
	top: 11px;
	position: absolute;
	overflow: visible;
	width: 79px;
	white-space: nowrap;
	text-align: left;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(65,65,65,1);
}
#ama {
	position: absolute;
	width: 113.132px;
	height: 65.694px;
	left: 13.001px;
	top: 10.652px;
	overflow: visible;
}
#amb {
	fill: rgba(69,69,69,1);
}
.amb {
	overflow: visible;
	position: absolute;
	width: 113.132px;
	height: 65.693px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#amc {
	position: absolute;
	width: 1920px;
	height: 426.215px;
	left: 0px;
	top: 3392.785px;
	overflow: visible;
}
#amd {
	position: absolute;
	width: 30px;
	height: 30px;
	left: 244px;
	top: 270px;
	overflow: visible;
}
#ame {
	fill: rgba(112,112,112,1);
}
.ame {
	position: absolute;
	overflow: visible;
	width: 30px;
	height: 30px;
	left: 0px;
	top: 0px;
}
#amf {
	position: absolute;
	width: 14px;
	height: 14.495px;
	left: 8px;
	top: 8px;
	overflow: visible;
}
#amg {
	position: absolute;
	width: 6.589px;
	height: 14.231px;
	left: 3.953px;
	top: 0.264px;
	overflow: visible;
}
#amh {
	position: absolute;
	width: 6.589px;
	height: 14.231px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#ami {
	fill: rgba(0,0,0,0);
}
.ami {
	position: absolute;
	overflow: visible;
	width: 14px;
	height: 14px;
	left: 0px;
	top: 0px;
}
#amj {
	position: absolute;
	width: 31px;
	height: 30px;
	left: 283px;
	top: 270px;
	overflow: visible;
}
#amk {
	fill: rgba(112,112,112,1);
}
.amk {
	position: absolute;
	overflow: visible;
	width: 31px;
	height: 30px;
	left: 0px;
	top: 0px;
}
#aml {
	position: absolute;
	width: 15px;
	height: 14px;
	left: 8px;
	top: 8px;
	overflow: visible;
}
#amm {
	position: absolute;
	width: 30px;
	height: 30px;
	left: 322.999px;
	top: 270px;
	overflow: visible;
}
#amn {
	position: absolute;
	width: 30px;
	height: 30px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#amo {
	fill: rgba(112,112,112,1);
}
.amo {
	position: absolute;
	overflow: visible;
	width: 30px;
	height: 30px;
	left: 0px;
	top: 0px;
}
#amp {
	position: absolute;
	width: 14.231px;
	height: 13.704px;
	left: 8.226px;
	top: 7.805px;
	overflow: visible;
}
#amq {
	position: absolute;
	width: 14.231px;
	height: 13.704px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#amr {
	fill: rgba(0,0,0,0);
}
.amr {
	position: absolute;
	overflow: visible;
	width: 14px;
	height: 14px;
	left: 8.001px;
	top: 8px;
}
#ams {
	position: absolute;
	width: 31px;
	height: 30px;
	left: 362px;
	top: 270px;
	overflow: visible;
}
#amt {
	fill: rgba(112,112,112,1);
}
.amt {
	position: absolute;
	overflow: visible;
	width: 31px;
	height: 30px;
	left: 0px;
	top: 0px;
}
#amu {
	position: absolute;
	width: 15.397px;
	height: 15px;
	left: 8.001px;
	top: 7.999px;
	overflow: visible;
}
#amv {
	position: absolute;
	width: 15.15px;
	height: 12.344px;
	left: 0.247px;
	top: 1.208px;
	overflow: visible;
}
#amw {
	position: absolute;
	width: 15.149px;
	height: 12.344px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#amx {
	fill: rgba(0,0,0,0);
}
.amx {
	position: absolute;
	overflow: visible;
	width: 15px;
	height: 15px;
	left: 0px;
	top: 0px;
}
#amy {
	fill: rgba(55,55,55,1);
}
.amy {
	overflow: visible;
	position: absolute;
	width: 1920px;
	height: 426.215px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#amz {
	border: 0;
	left: 970px;
	top: 103.629px;
	position: absolute;
	overflow: visible;
	width: 75px;
	white-space: nowrap;
	line-height: 40px;
	margin-top: -13px;
	text-align: left;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	color: rgba(99,222,208,1);
}
#ana {
	border: 0;
	left: 970px;
	top: 179px;
	position: absolute;
	overflow: visible;
	width: 211px;
	height: 132.645263671875px;
	line-height: 36px;
	margin-top: -12px;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(255,255,255,1);
}
#anb {
	border: 0;
	left: 1293px;
	top: 103.629px;
	position: absolute;
	overflow: visible;
	width: 67px;
	white-space: nowrap;
	line-height: 40px;
	margin-top: -13px;
	text-align: left;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	color: rgba(99,222,208,1);
}
#anc {
	border: 0;
	left: 1293px;
	top: 179px;
	position: absolute;
	overflow: visible;
	width: 211px;
	height: 171.29049682617188px;
	line-height: 36px;
	margin-top: -12px;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(255,255,255,1);
}
#and {
	border: 0;
	left: 240px;
	top: 154.476px;
	position: absolute;
	overflow: visible;
	width: 174px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -4px;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(255,255,255,1);
}
#ane {
	border: 0;
	left: 240px;
	top: 83.754px;
	position: absolute;
	overflow: visible;
	width: 339px;
	white-space: nowrap;
	text-align: left;
	font-family: Literata;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(255,255,255,1);
	text-transform: uppercase;
}